
  <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>Contacts Consulat</legend>
    <div class="row col-sm-12" >

    </div>

    <div class="row col-sm-6">

      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_nom"  >Adresse</label>
          <div class="col-sm-6">
              <input  type="text" placeholder="ex: 100, Red Fox Avenue" class="form-control" name="nom" id="field_nom" ng-model="vm.consulat.adresseDTO.rue"/>
          </div>

      </div>
    </br>
    <div class="form-group has-feedback"  >
        
      <label mf-required class="control-label col-sm-3 ft16" for="etat">Etat</label>
     
      <div class="col-sm-6">
          <select disabled placeholder="Etat" required class="form-control" id="field_etat" name="etat" ng-model="vm.consulat.adresseDTO.etatId" ng-options="etat.id as etat.libelle for etat in vm.etats"            >
              <option value=""></option>
          </select>

      </div>
  
      <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
          j-select-2-dialog
          j-multiple="false"
          j-states="true"
          j-model="vm.consulat.adresseDTO.etatId"
          j-list="vm.etats"
          j-columns='vm.etatColumns'
          j-event-name="onLoadEtats"
      >Choisir...</i>
  </div>

</br>

  <div class="form-group has-feedback"  >
    <label mf-required class="control-label col-sm-3 ft16" for="ville">Ville</label>
   
    <div class="col-sm-6">
        <select disabled placeholder="Ville" required class="form-control" id="field_ville" name="ville" ng-model="vm.consulat.adresseDTO.cityId" ng-options="ville.id as ville.libelle for ville in vm.villeAdresse"            >
            <option value=""></option>
        </select>

    </div>

    <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
        j-select-2-dialog
        j-multiple="false"
        j-states="false"
        j-model="vm.consulat.adresseDTO.cityId"
        j-list="vm.villeAdresse"
        j-columns='vm.statesVilleColumns'
        j-event-name="onLoadStatesVille"
    >Choisir...</i>
</div>


    </br>

   

  </div>

    <div class="row col-sm-6">

          <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_telephone" mf-required>Telephone</label>
            <div class="col-sm-6">
                <input required type="text" placeholder="numéro de telephone" class="form-control" name="telephone" id="field_telephone" ng-model="vm.consulat.adresseDTO.telephone" />
            </div>
        </div>

    </br>

    <div class="form-group">
      <label class="control-label col-sm-3 ft16" for="field_zipCode">Zip Code</label>
      <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="zip code" name="telephone" id="field_zipCode" ng-model="vm.consulat.adresseDTO.zipCode" />
      </div>
  </div>

</br>
<div class="form-group">
  <label class="control-label col-sm-3 ft16" for="field_mail">Mail</label>
  <div class="col-sm-6">
      <input type="email" placeholder="adresse mail" class="form-control" name="telephone" id="field_mail" ng-model="vm.consulat.adresseDTO.mail" />
  </div>
</div>


    </div>
    
</fieldset>


