<div class="container">
    <div class="row mb5">
           <div class="no-padding-left">
           <button class="btn btn-primary btn-outline" ng-click="vm.addItem()">
           <span class="glyphicon glyphicon-plus"></span>
           <span class="hidden-xs-down">
               Nouveau
           </span>
           </button>
           <div class="btn-group mr15" uib-dropdown >
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
               <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                   </li>
               </ul>
           </div>
       </div>

       <div class="text-center">
           <span class="h4"><u>Liste des consulats</u></span>
       </div>
   </div>

   <div class="row">
           <div class="col-sm-12"> 
                   <table class="table-responsive table table-hover">
                       <thead>
                           <tr class="mf-table-header">
                    <th ng-click="vm.sortBy('code') "><span>Code</span>                          
                         <span ng-if="vm.isCurrentColumn('code')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('nom') "><span>Nom</span> 
                        <span ng-if="vm.isCurrentColumn('nom')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('logoBf') "><span>Image droit</span> 
                        <span ng-if="vm.isCurrentColumn('logoBf')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    
                    <th ng-click="vm.sortBy('armoirie') "><span>Image bas</span> 
                        <span ng-if="vm.isCurrentColumn('armoirie')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consulat in vm.datas track by consulat.id">
                    <td>{{consulat.code}}</td>
                    <td>{{consulat.nom}}</td>
                    <td>
                        <a ng-if="consulat.logoBf" ng-click="vm.openFile(consulat.logoBfContentType, consulat.logoBf)">
                            <img data-ng-src="{{'data:' + consulat.logoBfContentType + ';base64,' + consulat.logoBf}}" style="max-height: 30px;" alt="consulat image"/>
                        </a>
                        <span ng-if="consulat.logoBf">{{consulat.logoBfContentType}}, {{vm.byteSize(consulat.logoBf)}}</span>
                    </td>
                
                    <td>
                        <a ng-if="consulat.armoirie" ng-click="vm.openFile(consulat.armoirieContentType, consulat.armoirie)">
                            <img data-ng-src="{{'data:' + consulat.armoirieContentType + ';base64,' + consulat.armoirie}}" style="max-height: 30px;" alt="consulat image"/>
                        </a>
                        <span ng-if="consulat.armoirie">{{consulat.armoirieContentType}}, {{vm.byteSize(consulat.armoirie)}}</span>
                    </td>
                  
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container mt5">
                          <!--   <button type="submit"
                            ng-click="vm.detailItem($event,consulat)"
                            class="btn btn-primary btn-xs btn-round">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            </button> -->
                            <button type="submit"
                            ng-click="vm.editItem($event,consulat)"
                            class="btn btn-success btn-xs btn-round">
                            <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="center-block text-center" ng-show="vm.canShowPagination()">
        <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage" >
        </uib-pagination>
    </div>
</div>
