
<div>
    <h2><span>Consulat</span> {{vm.consulat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.consulat.code}}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.consulat.nom}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.consulat.description}}</span>
        </dd>
        <dt><span>Logo Bf</span></dt>
        <dd>
            <div ng-if="vm.consulat.logoBf">
                <a ng-click="vm.openFile(vm.consulat.logoBfContentType, vm.consulat.logoBf)">
                    <img data-ng-src="{{'data:' + vm.consulat.logoBfContentType + ';base64,' + vm.consulat.logoBf}}" style="max-width: 100%;" alt="consulat image"/>
                </a>
                {{vm.consulat.logoBfContentType}}, {{vm.byteSize(vm.consulat.logoBf)}}
            </div>
        </dd>
        <dt><span>Logo Usa</span></dt>
        <dd>
            <div ng-if="vm.consulat.logoUsa">
                <a ng-click="vm.openFile(vm.consulat.logoUsaContentType, vm.consulat.logoUsa)">
                    <img data-ng-src="{{'data:' + vm.consulat.logoUsaContentType + ';base64,' + vm.consulat.logoUsa}}" style="max-width: 100%;" alt="consulat image"/>
                </a>
                {{vm.consulat.logoUsaContentType}}, {{vm.byteSize(vm.consulat.logoUsa)}}
            </div>
        </dd>
        <dt><span>Armoirie</span></dt>
        <dd>
            <div ng-if="vm.consulat.armoirie">
                <a ng-click="vm.openFile(vm.consulat.armoirieContentType, vm.consulat.armoirie)">
                    <img data-ng-src="{{'data:' + vm.consulat.armoirieContentType + ';base64,' + vm.consulat.armoirie}}" style="max-width: 100%;" alt="consulat image"/>
                </a>
                {{vm.consulat.armoirieContentType}}, {{vm.byteSize(vm.consulat.armoirie)}}
            </div>
        </dd>
        <dt><span>User Extra</span></dt>
        <dd>
            <a ui-sref="user-extra-detail({id:vm.consulat.userExtraId})">{{vm.consulat.userExtraId}}</a>
        </dd>
        <dt><span>Adresses</span></dt>
        <dd>
            <a ui-sref="adresses-detail({id:vm.consulat.adressesId})">{{vm.consulat.adressesId}}</a>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.consulat.countryId})">{{vm.consulat.countryId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="consulat-detail.edit({id:vm.consulat.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
