<fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>informations sur le consulat et de la carte</legend>
    <div class="row col-sm-12" >

    </div>

    <div class="row col-sm-6">

      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_nom" mf-required >Nom</label>
          <div class="col-sm-6">
              <input required type="text" placeholder="nom du consulat" class="form-control" name="nom" id="field_nom" ng-model="vm.consulat.nom"/>
          </div>

      </div>
    </br>
      <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_description" >Description</label>
        <div class="col-sm-6">
            <textarea type="text" placeholder="description" class="form-control" name="description" id="field_description"
            ng-model="vm.consulat.description"
            ng-maxlength="1000"></textarea>
        </div>
    </div>
</br>
  <div class="form-group" ngf-drop ngf-change="vm.setLogoBf($file, vm.consulat" ngf-pattern="'image/*'">
    <label class="control-label col-sm-3 ft16" for="field_logoBf">Image en haut à droite recto</label>
    <div class="col-sm-6">
        <div>
            <img data-ng-src="{{'data:' + vm.consulat.logoContentType + ';base64,' + vm.consulat.logoBf}}"
                style="max-height: 100px;" ng-if="vm.consulat.logoBf" alt="consulat image" />
            <div ng-if="vm.consulat.logoBf" class="help-block clearfix">
                <span class="pull-left">{{vm.consulat.logoBfContentType}},
                    {{vm.byteSize(vm.consulat.logoBf)}}</span>
                <button type="button" ng-click="vm.consulat.logoBf=null;vm.consulat.logoBfContentType=null;"
                    class="btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <button type="button" ngf-select class="btn btn-default btn-block"
                ngf-change="vm.setLogoBf($file, vm.consulat)" accept="image/*">
                Add image
            </button>
        </div>
        <input type="hidden" class="form-control" name="logoBf" id="field_logoBf"
            ng-model="vm.consulat.logoBf" />
        <input type="hidden" class="form-control" name="logoBfContentType" id="field_logoBfContentType"
            ng-model="vm.consulat.logoBfContentType" />
    </div>
</div>
</br>
<div class="form-group" ngf-drop ngf-change="vm.setArmoirie($file, vm.consulat" ngf-pattern="'image/*'">
    <label class="control-label col-sm-3 ft16" for="field_armoirie">Image en bas recto</label>
    <div class="col-sm-6">
        <div>
            <img data-ng-src="{{'data:' + vm.consulat.armoirieContentType + ';base64,' + vm.consulat.armoirie}}"
                style="max-height: 100px;" ng-if="vm.consulat.armoirie" alt="consulat image" />
            <div ng-if="vm.consulat.armoirie" class="help-block clearfix">
                <span class="pull-left">{{vm.consulat.armoirieContentType}},
                    {{vm.byteSize(vm.consulat.armoirie)}}</span>
                <button type="button" ng-click="vm.consulat.armoirie=null;vm.consulat.armoirieContentType=null;"
                    class="btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <button type="button" ngf-select class="btn btn-default btn-block"
                ngf-change="vm.setArmoirie($file, vm.consulat)" accept="image/*">
                Add image
            </button>
        </div>
        <input type="hidden" class="form-control" name="armoirie" id="field_armoirie"
            ng-model="vm.consulat.armoirie" />
        <input type="hidden" class="form-control" name="armoirieContentType" id="field_armoirieContentType"
            ng-model="vm.consulat.armoirieContentType" />
    </div>
</div>
</br>

<div class="form-group" ngf-drop ngf-change="vm.setLogoUsa($file, vm.consulat" ngf-pattern="'image/*'">
    <label class="control-label col-sm-3 ft16" for="field_imageVerso">Image au Verso</label>
    <div class="col-sm-6">
        <div>
            <img data-ng-src="{{'data:' + vm.consulat.imageVersoContentType + ';base64,' + vm.consulat.imageVerso}}"
                style="max-height: 100px;" ng-if="vm.consulat.imageVerso" alt="consulat image" />
            <div ng-if="vm.consulat.imageVerso" class="help-block clearfix">
                <span class="pull-left">{{vm.consulat.imageVersoContentType}},
                    {{vm.byteSize(vm.consulat.imageVerso)}}</span>
                <button type="button" ng-click="vm.consulat.imageVerso=null;vm.consulat.imageVersoContentType=null;"
                    class="btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <button type="button" ngf-select class="btn btn-default btn-block"
                ngf-change="vm.setLogoUsa($file, vm.consulat)" accept="image/*">
                Add image
            </button>
        </div>
        <input type="hidden" class="form-control" name="imageVerso" id="field_imageVerso"
            ng-model="vm.consulat.imageVerso" />
        <input type="hidden" class="form-control" name="imageVersoContentType" id="field_imageVersoContentType"
            ng-model="vm.consulat.imageVersoContentType" />
    </div>
</div>

  </div>
    <div class="row col-sm-6">

    <div class="form-group" ngf-drop ngf-change="vm.setSignature($file, vm.consulat" ngf-pattern="'image/*'">
        <label class="control-label col-sm-3 ft16" for="field_armoirie">Signature de l'autorité</label>
        <div class="col-sm-6">
            <div>
                <img data-ng-src="{{'data:' + vm.consulat.signatureContentType + ';base64,' + vm.consulat.signature}}"
                    style="max-height: 100px;" ng-if="vm.consulat.signature" alt="consulat image" />
                <div ng-if="vm.consulat.signature" class="help-block clearfix">
                    <span class="pull-left">{{vm.consulat.signatureContentType}},
                        {{vm.byteSize(vm.consulat.signature)}}</span>
                    <button type="button" ng-click="vm.consulat.signature=null;vm.consulat.signatureContentType=null;"
                        class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                    ngf-change="vm.setSignature($file, vm.consulat)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="signature" id="field_signature"
                ng-model="vm.consulat.signature" />
            <input type="hidden" class="form-control" name="signatureContentType" id="field_signatureContentType"
                ng-model="vm.consulat.signatureContentType" />
        </div>
    </div>
</br>
    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_entete" mf-required >En_tête carte</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="en_tête de la carte" class="form-control" name="En_tête" id="field_entete" ng-model="vm.consulat.enTete" maxlength="50"/>
        </div>

    </div>
</br>


    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_titre" mf-required >Nom de la carte</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="titre de la carte" class="form-control" name="titre" id="field_titre" ng-model="vm.consulat.titre" maxlength="50"/>
        </div>

    </div>
</br>

    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_codeCarte" mf-required>Préfixe des no</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="code de la carte" class="form-control" name="codeCarte" id="field_codeCarte" ng-model="vm.consulat.codeCarte" maxlength="10"/>
        </div>

    </div>
</br>

    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_texteVerso" >Text au verso</label>
        <div class="col-sm-6">
            <textarea type="text" placeholder="texteVerso" class="form-control" name="texteVerso" id="field_texteVerso"
            ng-model="vm.consulat.texteVerso"
            ng-maxlength="1000"></textarea>
        </div>
    </div>











</div>



  </fieldset>

