<div class="container-fluid">
    <div class="row mb5">
        <div class="no-padding-left">
            <button  class="btn btn-primary btn-outline" title="Ajouter"  ng-click="vm.addItem()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs-down">
                    Nouveau
            </span>
            </button>
            <div class="btn-group mr15" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group mr15 col-sm-3 pull-right" uib-dropdown>
                    <select class="form-control" id="field_organisation" ng-change="vm.initInfo()" name="organisation" ng-model="vm.organisationId" ng-options="organisation.id as organisation.nom for organisation in vm.organisations" ng-disabled="vm.isViewing" >
                        <option value=""><i>Tous les consulats</i></option>
                    </select>
            </div>
        </div>

        <div class="text-center">
            <span class="h4">
                <u>Liste des utilisateurs </u>
            </span>
        </div>
    </div>

    <div class="row">
        <div>
            <table class="table-responsive table table-hover">
                <thead>
                    <tr class="mf-table-header">
                        <th>Login</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Consulat</th>
                        <th>Profil</th>
                        <th>Etat</th>
                        <th>Crée Par</th>
                        <th class="text-right"> <span>Actions</span> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="userExtra in vm.datas ">
                        <td title="{{userExtra.userDTO.login}}">{{userExtra.userDTO.login | characters:20}}</td>
                        <td title="{{userExtra.userDTO.firstName}}">{{userExtra.userDTO.firstName | characters:20}}</td>
                        <td title="{{userExtra.userDTO.lastName}}">{{userExtra.userDTO.lastName | characters:20}}</td>
                        <td title="{{userExtra.userExtraDTO.consulatNom}}">{{userExtra.consulatNom | characters:20}}</td>
                        <td {{userExtra.userExtraDTO.profilNom}}>{{userExtra.profilNom | characters:25}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="vm.setActive(userExtra, true)" ng-show="!userExtra.userDTO.activated"
                                        data-translate="userManagement.deactivated">Deactivated</button>
                                <button class="btn btn-success btn-xs" ng-click="vm.setActive(userExtra, false)" ng-show="userExtra.userDTO.activated"
                                        ng-disabled="vm.currentAccount.login === userExtra.userDTO.login" data-translate="userManagement.activated">Activated</button>
                            </td>
                        <td title="{{userExtra.userDTO.createdBy}}">{{userExtra.userDTO.createdBy | characters:20}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container mt5">
                                <button type="submit" title="Consulter" ng-click="vm.detailItem($event,userExtra)" class="btn btn-primary btn-xs btn-round">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <button type="submit" title="Modifier" ng-click="vm.editItem($event,userExtra)" class="btn btn-success btn-xs btn-round">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="vm.currentAccount.login=='admin'" class="center-block text-center" ng-show="vm.canShowPagination()">
            <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage">
            </uib-pagination>
        </div>
    </div>
</div>

<footer ng-if="vm.currentAccount.login=='admin'" class="navbar-fixed-bottom text-center h4">
    <label class=" label label-warning text-left h1">Quantité Totale :</label>
    <label> : {{vm.totalItems}}</label>
</footer>

