
<div>
    <h2><span>User Extra</span> {{vm.userExtra.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.userExtra.code}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{vm.userExtra.telephone}}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
            <div ng-if="vm.userExtra.photo">
                <a ng-click="vm.openFile(vm.userExtra.photoContentType, vm.userExtra.photo)">open</a>
                {{vm.userExtra.photoContentType}}, {{vm.byteSize(vm.userExtra.photo)}}
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.userExtra.userId}}
        </dd>
        <dt><span>Consulat</span></dt>
        <dd>
            <a ui-sref="consulat-detail({id:vm.userExtra.consulatId})">{{vm.userExtra.consulatId}}</a>
        </dd>
        <dt><span>Profil</span></dt>
        <dd>
            <a ui-sref="profil-detail({id:vm.userExtra.profilId})">{{vm.userExtra.profilId}}</a>
        </dd>
        <dt><span>Members</span></dt>
        <dd>
            <a ui-sref="members-detail({id:vm.userExtra.membersId})">{{vm.userExtra.membersId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-extra-detail.edit({id:vm.userExtra.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
