<head>
    <script defer>
        window.VerifaliaWidgetConfig = {
          appKey: 'b56d9ef3d9b84c14aa408cb8ecab57fd'
        };
      </script>
      <script defer
        src="https://unpkg.com/verifalia-widget@1.2.0/dist/verifalia-widget.js"
        integrity="sha512-KNWaWGZz1V4Hm+9e4pdMB0rJ/wOY3ifDIYdfnHyoRnAXtpTxvxU+beMZ6nO//qqPYWcm9uFlIA1eye6/BAnbjQ=="
        crossorigin="anonymous"></script>

   
</head>

<body data-verifalia-appkey="b56d9ef3d9b84c14aa408cb8ecab57fd">
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation class="form-horizontal">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserExtraLabel" >Mot de passe oublié</h4>
    </div>

    <div class="modal-body">
     
        <div class="row col-sm-6">
        <fieldset class="mf-fieldset p10">
            <legend>Informations de l'utilisateur</legend>
        <div class="form-group">
            <label mf-required class="control-label col-sm-4" >adresse Email</label>
            <div class="col-sm-4">
                <input type="email" ng-disabled="vm.isVue()" type="email" class="form-control" name="email" ng-model="vm.user.email" required
                    ng-maxlength="100">
            </div>
            <button  title="Générer la clé de réinitialisation" class="btn btn-success btn-xs"
            >Générer la clé...</button>

        </div>
        <div class="form-group">
            <label mf-required class="control-label col-sm-4" >confirmation adresse Email</label>
            <div class="col-sm-4">
                <input type="email" ng-disabled="vm.isVue()" type="email" class="form-control verifalia-field " name="email" ng-model="vm.user.email" required
                    ng-maxlength="100">
            </div>
            <button  title="Générer la clé de réinitialisation" class="btn btn-success btn-xs"
            >Générer la clé...</button>

        </div>
    
    </div>
    
        </fieldset>

    </div>
 
</form>
</body>
