
<form name="editForm" role="form" novalidate ng-submit="vm.save()" class="container-fluid form-horizontal" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" >Ajouter un pays</h4>
    </div>
    <div class="modal-body">

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3" mf-required for="field_intitule">Libelle</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="intitule" id="field_intitule"
                       ng-model="vm.country.libelle" ng-disabled="vm.isViewing"
                       required/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
