
<div>
    <h2><span>Country</span> {{vm.country.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.country.code}}</span>
        </dd>
        <dt><span>Libele</span></dt>
        <dd>
            <span>{{vm.country.libele}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="country-detail.edit({id:vm.country.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
