
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInfoPosteLabel">Create or edit a Info Poste</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.infoPoste.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.infoPoste.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateDebut">Date Debut</label>
                <div class="input-group">
                    <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.infoPoste.dateDebut" is-open="vm.datePickerOpenStatus.dateDebut"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.infoPoste.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actuelle">Actuelle</label>
                <input type="checkbox" name="actuelle" id="field_actuelle"
                          ng-model="vm.infoPoste.actuelle"/>
        </div>

        <div class="form-group">
            <label for="field_members">Members</label>
            <select class="form-control" id="field_members" name="members" ng-model="vm.infoPoste.membersId" ng-options="members.id as members.nom for members in vm.members"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_poste">Poste</label>
            <select class="form-control" id="field_poste" name="poste" ng-model="vm.infoPoste.posteId" ng-options="poste.id as poste.libelle for poste in vm.postes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
