
<div>
    <h2><span>Info Poste</span> {{vm.infoPoste.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date Debut</span></dt>
        <dd>
            <span>{{vm.infoPoste.dateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date Fin</span></dt>
        <dd>
            <span>{{vm.infoPoste.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Actuelle</span></dt>
        <dd>
            <span>{{vm.infoPoste.actuelle}}</span>
        </dd>
        <dt><span>Members</span></dt>
        <dd>
            <a ui-sref="members-detail({id:vm.infoPoste.membersId})">{{vm.infoPoste.membersNom}}</a>
        </dd>
        <dt><span>Poste</span></dt>
        <dd>
            <a ui-sref="poste-detail({id:vm.infoPoste.posteId})">{{vm.infoPoste.posteLibelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="info-poste-detail.edit({id:vm.infoPoste.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
