<div>
    <h2>Info Postes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="info-poste.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Info Poste
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDebut"><span>Date Debut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFin"><span>Date Fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actuelle"><span>Actuelle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membersNom"><span>Members</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="posteLibelle"><span>Poste</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="infoPoste in vm.infoPostes track by infoPoste.id">
                    <td><a ui-sref="info-poste-detail({id:infoPoste.id})">{{infoPoste.id}}</a></td>
                        <td>{{infoPoste.dateDebut | date:'mediumDate'}}</td>
                        <td>{{infoPoste.dateFin | date:'mediumDate'}}</td>
                    <td>{{infoPoste.actuelle}}</td>
                    <td>
                        <a ui-sref="members-detail({id:infoPoste.membersId})">{{infoPoste.membersNom}}</a>
                    </td>
                    <td>
                        <a ui-sref="poste-detail({id:infoPoste.posteId})">{{infoPoste.posteLibelle}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="info-poste-detail({id:infoPoste.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="info-poste.edit({id:infoPoste.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="info-poste.delete({id:infoPoste.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
