<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Réinitialiser votre mot de passe</h1>

            <div class="alert alert-danger" ng-show="vm.errorEmailNotExists">
                <strong>L'adresse électronique n'est pas enregistrée!</strong> Veuillez vérifier votre adresse.
            </div>

            <div class="alert alert-warning" ng-hide="vm.success">
                <p>Entrer l'adresse email utilisée lors de l'enregistrement.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success === 'OK'">
                <p>Consultez vos e-mails pour savoir comment réinitialiser votre mot de passe.</p>
            </div>

            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.requestReset()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.resetAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Your email is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Your email is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Your email cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Reset</button>
            </form>

        </div>
    </div>
</div>
