
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCountryIdDocLabel">Create or edit a Country Id Doc</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.countryIdDoc.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.countryIdDoc.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.countryIdDoc.numero"
                    required/>
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_autorite">Autorite</label>
            <input type="text" class="form-control" name="autorite" id="field_autorite"
                    ng-model="vm.countryIdDoc.autorite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateDelivr">Date Delivr</label>
                <div class="input-group">
                    <input id="field_dateDelivr" type="text" class="form-control" name="dateDelivr" uib-datepicker-popup="{{dateformat}}" ng-model="vm.countryIdDoc.dateDelivr" is-open="vm.datePickerOpenStatus.dateDelivr"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDelivr')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateExpr">Date Expr</label>
                <div class="input-group">
                    <input id="field_dateExpr" type="text" class="form-control" name="dateExpr" uib-datepicker-popup="{{dateformat}}" ng-model="vm.countryIdDoc.dateExpr" is-open="vm.datePickerOpenStatus.dateExpr"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateExpr')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_etat">Etat</label>
            <input type="text" class="form-control" name="etat" id="field_etat"
                    ng-model="vm.countryIdDoc.etat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                    ng-model="vm.countryIdDoc.ville"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
