<div>
    <h2>Country Id Docs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="country-id-doc.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Country Id Doc
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span>Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="autorite"><span>Autorite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDelivr"><span>Date Delivr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateExpr"><span>Date Expr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="etat"><span>Etat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ville"><span>Ville</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="countryIdDoc in vm.countryIdDocs track by countryIdDoc.id">
                    <td><a ui-sref="country-id-doc-detail({id:countryIdDoc.id})">{{countryIdDoc.id}}</a></td>
                    <td>{{countryIdDoc.numero}}</td>
                    <td>{{countryIdDoc.autorite}}</td>
                        <td>{{countryIdDoc.dateDelivr | date:'mediumDate'}}</td>
                        <td>{{countryIdDoc.dateExpr | date:'mediumDate'}}</td>
                    <td>{{countryIdDoc.etat}}</td>
                    <td>{{countryIdDoc.ville}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="country-id-doc-detail({id:countryIdDoc.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="country-id-doc.edit({id:countryIdDoc.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="country-id-doc.delete({id:countryIdDoc.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
