
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAdressesLabel">Create or edit a Adresses</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.adresses.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.adresses.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rue">Rue</label>
            <input type="text" class="form-control" name="rue" id="field_rue"
                    ng-model="vm.adresses.rue"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_noPorte">No Porte</label>
            <input type="text" class="form-control" name="noPorte" id="field_noPorte"
                    ng-model="vm.adresses.noPorte"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mail">Mail</label>
            <input type="text" class="form-control" name="mail" id="field_mail"
                    ng-model="vm.adresses.mail"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.adresses.telephone"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                    ng-model="vm.adresses.zipCode"
                    />
        </div>

        <div class="form-group">
            <label for="field_members">Members</label>
            <select class="form-control" id="field_members" name="members" ng-model="vm.adresses.membersId" ng-options="members.id as members.id for members in vm.members"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
