<div class="container">
    <div class="row mb5">
           <div class="no-padding-left">
            <div class="form-group " ng-if="!vm.filtrer">
                <div class="pull-right">
                    <button class="btn btn-info btn-md" ng-click="vm.filtrer=true">
                        <span class="glyphicon glyphicon-search">Filtrer</span>
                    </button>
                </div>
            </div>
          <!--  <button class="btn btn-primary btn-outline" ng-click="vm.addItem()">
           <span class="glyphicon glyphicon-plus"></span>
           <span class="hidden-xs-down">
               Nouveau
           </span>
           </button> -->
           <div class="btn-group mr15" uib-dropdown >
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
               <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                   </li>
               </ul>
           </div>
       </div>

       <div class="row" ng-if="vm.filtrer">

        <div class="form-group col-sm-2">
                <input type="text" placeholder="Nom" required class="form-control" id="field_nom" ng-model="vm.itemSearch.nom" name="nom"/>
                <input type="text" placeholder="Prenom" required class="form-control" id="field_prenom" ng-model="vm.itemSearch.prenom" name="prenom"/>
        </div>

    

    <div class="form-group col-sm-4">
        <div class="col-sm-4">
            <button  class="btn btn-warnig btn-md"  ng-click="vm.initFiltre()" >
                <span class="glyphicon glyphicon-search">Annuler</span>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-info btn-md "   ng-click="vm.init()">
                <span class="glyphicon glyphicon-search">Filtrer</span>
            </button>
        </div>
    </div>


    </div>

       <div class="text-center">
           <span class="h4"><u>Historique des résidences</u></span>
       </div>
   </div>

   <div class="row">
           <div class="col-sm-12"> 
                   <table class="table-responsive table table-hover">
                       <thead>
                           <tr class="mf-table-header">
                    <th ng-click="vm.sortBy('rue') "><span>Adresse</span>                          
                         <span ng-if="vm.isCurrentColumn('rue')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('mail') "><span>Mail</span> 
                        <span ng-if="vm.isCurrentColumn('mail')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('telephone') "><span>Telephone</span> 
                        <span ng-if="vm.isCurrentColumn('telephone')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('siege') "><span>ZipCode</span> 
                        <span ng-if="vm.isCurrentColumn('siege')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('dateCreation') "><span>Membre</span> 
                        <span ng-if="vm.isCurrentColumn('dateCreation')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adresse in vm.datas track by adresse.id">
                    <td>{{adresse.rue}}</td>
                    <td>{{adresse.mail}}</td>
                    <td>{{adresse.telephone}}</td>
                    <td>{{adresse.zipCode}}</td>
                    <td>{{adresse.membersNom}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container mt5">
                          <!--   <button type="submit"
                            ng-click="vm.detailItem($event,consulat)"
                            class="btn btn-primary btn-xs btn-round">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            </button> -->
               <!--              <button type="submit"
                            ng-click="vm.editItem($event,adresse)"
                            class="btn btn-success btn-xs btn-round">
                            <span class="glyphicon glyphicon-pencil"></span>
                            </button> -->
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="center-block text-center" ng-show="vm.canShowPagination()">
        <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage" >
        </uib-pagination>
    </div>
</div>
