
<div>
    <h2><span>Adresses</span> {{vm.adresses.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Rue</span></dt>
        <dd>
            <span>{{vm.adresses.rue}}</span>
        </dd>
        <dt><span>No Porte</span></dt>
        <dd>
            <span>{{vm.adresses.noPorte}}</span>
        </dd>
        <dt><span>Mail</span></dt>
        <dd>
            <span>{{vm.adresses.mail}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{vm.adresses.telephone}}</span>
        </dd>
        <dt><span>Zip Code</span></dt>
        <dd>
            <span>{{vm.adresses.zipCode}}</span>
        </dd>
        <dt><span>Members</span></dt>
        <dd>
            <a ui-sref="members-detail({id:vm.adresses.membersId})">{{vm.adresses.membersId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="adresses-detail.edit({id:vm.adresses.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
