<div class="container">
    <div class="row mb5">
           <div class="no-padding-left">
            <div class="form-group " ng-if="!vm.filtrer">
                <div class="pull-right">
                    <button class="btn btn-info btn-md" ng-click="vm.filtrer=true">
                        <span class="glyphicon glyphicon-search">Filtrer</span>
                    </button>
                </div>
            </div>
           <button class="btn btn-primary btn-outline" ng-click="vm.addItem()">
           <span class="glyphicon glyphicon-plus"></span>
           <span class="hidden-xs-down">
               Nouveau
           </span>
           </button>
           <div class="btn-group mr15" uib-dropdown >
               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
               <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                   </li>
                   <li>
                       <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                   </li>
               </ul>
           </div>
       </div>

       <div class="row" ng-if="vm.filtrer">

        <div class="form-group col-sm-2">
                <input type="text" placeholder="Nom" required class="form-control" id="field_nom" ng-model="vm.itemSearch.nom" name="nom"/>
        </div>
        <div class="form-group col-sm-2">
            <input type="text" placeholder="type" required class="form-control" id="field_type" ng-model="vm.itemSearch.type" name="type"/>
    </div>
    <div class="form-group col-sm-2">
        <input type="text" placeholder="adresse" required class="form-control" id="field_adresse" ng-model="vm.itemSearch.adresse" name="adresse"/>
</div>

        <div class="form-group col-sm-2">
            <input show-button-bar="false" id="field_dateCreation" placeholder="La date de creation" type="text" class="form-control" name="dateCreation" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.itemSearch.dateCreation" is-open="vm.datePickerOpenStatus.dateCreation"
          required />
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateCreation')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </div>

    <div class="form-group col-sm-4">
        <div class="col-sm-4">
            <button  class="btn btn-warnig btn-md"  ng-click="vm.initFiltre()" >
                <span class="glyphicon glyphicon-search">Annuler</span>
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-info btn-md "   ng-click="vm.init()">
                <span class="glyphicon glyphicon-search">Filtrer</span>
            </button>
        </div>
    </div>


    </div>

       <div class="text-center">
           <span class="h4"><u>Liste des associations</u></span>
       </div>
   </div>

   <div class="row">
           <div class="col-sm-12"> 
                   <table class="table-responsive table table-hover">
                       <thead>
                           <tr class="mf-table-header">
                    <th ng-click="vm.sortBy('numero') "><span>Numero</span>                          
                         <span ng-if="vm.isCurrentColumn('numero')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('nom') "><span>Nom</span> 
                        <span ng-if="vm.isCurrentColumn('nom')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('type') "><span>Type</span> 
                        <span ng-if="vm.isCurrentColumn('type')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('siege') "><span>Siège</span> 
                        <span ng-if="vm.isCurrentColumn('siege')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('dateCreation') "><span>Creation</span> 
                        <span ng-if="vm.isCurrentColumn('dateCreation')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="association in vm.datas track by association.id">
                    <td>{{association.numero}}</td>
                    <td>{{association.nom}}</td>
                    <td>{{association.type}}</td>
                    <td>{{association.siege}}</td>
                    <td>{{association.dateCreation}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container mt5">
                          <!--   <button type="submit"
                            ng-click="vm.detailItem($event,consulat)"
                            class="btn btn-primary btn-xs btn-round">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            </button> -->
                            <button type="submit"
                            ng-click="vm.editItem($event,association)"
                            class="btn btn-success btn-xs btn-round">
                            <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="center-block text-center" ng-show="vm.canShowPagination()">
        <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage" >
        </uib-pagination>
    </div>
</div>
