
<form name="editForm" role="form" novalidate class="container-fluid form-horizontal"  >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="consulat" >Ajouter une association</h4>
    </div>
    <div class="modal-body">


        <div class="box-tab justified" id="rootwizard">
            <ul class="nav nav-tabs">
                <li ng-repeat="step in vm.steps" ng-class="{active: $index==vm.getCurrentStepIndex()}">
                    <a href="javascript:void(0)" ng-click="vm.goToStep($index,editForm)">{{step}}</a>
                </li>
            </ul>
                <!-- Démandeur de la carte grise-->
                <div class="tab-pane" ng-if="vm.showOnglet('IDENTIFICATION',0)">
                    <div ng-include="'app/entities/association/identification.html'" scope="" onload="">
                    </div>
                </div>

                <!--Informations de la carte grise-->
                <div class="tab-pane" ng-if="vm.showOnglet('ADRESSE',1)">
                    <div ng-include="'app/entities/association/adresse.html'" scope="" onload="">
                    </div>
                </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span ng-hide="vm.isViewing" data-translate="entity.action.cancel">Cancel</span>
            <span ng-show="vm.isViewing">Fermer</span>
        </button>
       
        <button class="btn btn-primary" ng-show="vm.hasPreviousStep()"  ng-click="vm.decrementStep()">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            <span>Précedent</span>
        </button>
        <button  class="btn btn-primary" ng-show="vm.hasNextStep()" ng-disabled="editForm.$invalid " ng-click="vm.incrementStep()">
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
            <span>Suivant</span>
        </button>
        <button type="submit"  class="btn btn-success" ng-show="!vm.hasNextStep()" ng-disabled="editForm.$invalid || vm.isSaving" data-dismiss="modal" ng-click="vm.save()" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span >Sauvegarder</span>
        </button>
    </div>
</form>

