
<div>
    <h2><span>Association</span> {{vm.association.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Numero</span></dt>
        <dd>
            <span>{{vm.association.numero}}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.association.nom}}</span>
        </dd>
        <dt><span>Poste</span></dt>
        <dd>
            <span>{{vm.association.poste}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="association-detail.edit({id:vm.association.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
