<fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>informations sur l'association</legend>
 
    <div class="row col-sm-6">

      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_nom" mf-required >Nom</label>
          <div class="col-sm-6">
              <input required type="text" placeholder="nom de l'association" class="form-control" name="nom" id="field_nom" ng-model="vm.association.nom"/>
          </div>

      </div>
    </br>


    <div class="form-group has-feedback"  >
        <label mf-required class="control-label col-sm-3 ft16" for="document">Type</label>

        <div class="col-sm-6">
            <select placeholder="document" required class="form-control" id="field_ville" name="ville" ng-model="vm.association.type" ng-options="type.libelle as type.libelle for type in vm.types"            >
                <option value=""></option>
            </select>

        </div>

    </div>



   <!--  <div class="form-group">
    <label class="control-label col-sm-3 ft16" for="field_type" mf-required >Type</label>
          <div class="col-sm-6">
              <input required type="text" placeholder="type" class="form-control" name="type" id="field_type" ng-model="vm.association.type"/>
          </div>
        </div> -->
     
</br>
<div class="form-group has-feedback" >
    <label class="control-label col-sm-3 ft16"   for="field_dateCreation" mf-required>Date de Création</label>
        <div class=" col-sm-6">
            <input show-button-bar="false" placeholder="date de creation" id="field_dateCreation" type="text" class="form-control" name="dateCreation" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.association.dateCreation" is-open="vm.datePickerOpenStatus.dateCreation"
            required />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateCreation')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>

  </div>


  </fieldset>

