<div class="row">
    <div class="well with-header" style="margin-top:10px ">
        <div class="header bg-blue " >
            <div class="col-xs-10">
                <h4>Liste des utilisateurs</h4>
            </div>
            <div class="no-padding-left col-xs-2" >
                <button ng-if="vm.actions.add || vm.actions.add==null"  class="btn btn-default  btn-circle btn-xs
                        " ng-click="vm.addItem()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="btn-group mr15" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                        <li>
                            <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <table class="table-responsive table table-hover">
                <thead>
                <tr class="mf-table-header">
                    <th ng-click="vm.sortBy('login') ">
                        <span>Login</span>
                        <span ng-if="vm.isCurrentColumn('login')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('email') ">
                        <span>Email</span>
                        <span ng-if="vm.isCurrentColumn('email')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('activated') ">
                        <span>Statut</span>
                        <span ng-if="vm.isCurrentColumn('activated')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <!-- <th ng-click="vm.sortBy('authorities') ">
                         <span>Droit</span>
                         <span ng-if="vm.isCurrentColumn('authoroties')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                     </th>-->
                    <th ng-click="vm.sortBy('createdDate') ">
                        <span>Créé le</span>
                        <span ng-if="vm.isCurrentColumn('createdDate')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('lastModifiedBy') ">
                        <span>Modifié par</span>
                        <span ng-if="vm.isCurrentColumn('lastModifiedBy')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('lastModifiedDate') ">
                        <span>Modifié le</span>
                        <span ng-if="vm.isCurrentColumn('lastModifiedDate')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.datas track by user.id">
                    <td>{{user.login}}</td>
                    <td title="{{user.email}}">{{user.email | characters:30}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                                data-translate="userManagement.deactivated">Deactivated</button>
                        <button class="btn btn-success btn-xs" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                                ng-disabled="vm.currentAccount.login === user.login" data-translate="userManagement.activated">Activated</button>
                    </td>
                    <!-- <td>
                         <div ng-repeat="authority in user.authorities">
                             <span title="{{authority}}" class="label label-info">{{ authority }}</span>
                         </div>
                     </td>-->
                    <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{user.lastModifiedBy}}</td>
                    <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button title="Consulter" type="submit" ng-click="vm.detailItem($event,user)" class="btn btn-info btn-xs btn-round">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button title="Modifier" type="submit" ng-click="vm.editItem($event,user)" class="btn btn-warning btn-xs btn-round">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button title="Reinitialiser le mot de passe" type="submit"  ui-sref="user-management.edit({login:user.login})" class="btn btn-danger btn-xs btn-round">
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="center-block text-center" ng-show="vm.canShowPagination()">
        <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage">
        </uib-pagination>
    </div>
</div>
