<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation class="form-horizontal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserExtraLabel" >Créer ou éditer un utilisateur</h4>
    </div>

    <div class="modal-body">

        <div class="form-group" ng-if="!vm.isVue() && vm.esDefini==null">
            <label mf-required class="control-label col-sm-4"  for="field_profil">Profil</label>
            <div class="col-sm-6">
                <select disabled required class="form-control" id="field_profil" name="profil" ng-model="vm.user.profilId" ng-options="profil.id as profil.nom for profil in vm.profils"            >
                    <option value=""></option>
                </select>
            </div>
            <i title="Sélectionnez le profil" class="btn btn-primary btn-xs"
               j-select-dialog
               j-multiple="false"
               j-model="vm.user.profilId"
               j-list="vm.profils"
               j-columns='vm.profilsColums'
               j-event-name="onLoadProfil"
            >Choisir...</i>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Consulat</label>
            <div class="col-sm-6">
                <select disabled required class="form-control" id="field_personne"  name="personne" ng-model="vm.user.personneId" ng-options="consulat.id as personne.nom for personne in vm.consulats"            >
                    <option value=""></option>
                </select>

            </div>
            <i  title="Sélectionnez la personne" class="btn btn-primary btn-xs"
                j-select-dialog
                j-multiple="false"
                j-model="vm.consulat.personneId"
                j-list="vm.consulats"
                j-columns='vm.consulatColums'
                j-event-name="onLoadConsulats"
            >Choisir...</i>
        </div>

     
        <div class="form-group" ng-if="vm.isVue() && vm.esDefini!=null">
            <label mf-required class="control-label col-sm-4"  for="field_profil">Profil</label>
            <div class="col-sm-6">
                <input type="text" ng-disabled="vm.isVue()" class="form-control" name="lastName" ng-model="vm.user.profilNom" required>
            </div>

        </div>
        <fieldset class="p10 mf-fieldset">
            <legend>Informations de l'utilisateur</legend>
            <div class="form-group">
                <label mf-required class="control-label col-sm-4" data-translate="userManagement.lastName">Last Name</label>
                <div class="col-sm-6">
                    <input type="text" ng-disabled="vm.isVue()" class="form-control" name="lastName" ng-model="vm.user.lastName" required>
                </div>
            </div>

            <div class="form-group">
                <label mf-required class="control-label col-sm-4" data-translate="userManagement.firstName">First Name</label>
                <div class="col-sm-6">
                    <input type="text" ng-disabled="vm.isVue()" class="form-control" name="firstName" ng-model="vm.user.firstName" required>
                </div>
            </div>
            <div class="form-group">
                <label mf-required class="control-label col-sm-4" data-translate="userManagement.login">Login</label>
                <div class="col-sm-6">
                    <input ng-disabled="vm.isVue()" type="text" class="form-control" name="login" ng-model="vm.user.login" required ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">
                </div>
            </div>

            <div class="form-group">
                <label mf-required class="control-label col-sm-4" data-translate="userManagement.email">Email</label>
                <div class="col-sm-6">
                    <input type="email" ng-disabled="vm.isVue()" type="email" class="form-control" name="email" ng-model="vm.user.email" required
                           ng-maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-sm-4" for="field_telephone">Telephone</label>
                <div class="col-sm-6">
                    <input type="text" ng-disabled="vm.isVue()" class="form-control" name="telephone" id="field_telephone" ng-model="vm.user.phoneNumber" ng-minlength="8" ng-maxlength="13" />
                </div>
            </div>

            <div class="checkbox text-center" ng-if="!vm.isViewing && vm.user.id!=null">
                <label >
                    <input type="checkbox" ng-change="vm.loadProgressBar()" class="checkbox-slider colored-blue checkbox-lg"
                           ng-model="vm.modifPassword"/>
                    <span class="text">Modifier Mot de Passe?</span>
                </label>
            </div>

            <div class="form-group" ng-if="vm.modifPassword">
                <label mf-required class="control-label col-sm-4" for="password">Mot de passe</label>
                <div class="col-sm-6">
                    <input  type="password" class="form-control pwd" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,50})$"
                            ng-model="vm.user.password" ng-minlength=4 ng-maxlength=50 required>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" id="password-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                            <span class="sr-only">0% Complete (danger)</span>
                            <span id="progress-bar-text" style="color:#000;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="vm.modifPassword">
                <label mf-required class="control-label col-sm-4" for="confirmPassword" >Confirmation du mot de passe</label>
                <div class="col-sm-6">
                    <input  type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                </div>
            </div>

        
        </fieldset>
    </div>
    <div class="modal-footer">
        <button ng-if="!vm.isVue()" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button ng-if="!vm.isVue()" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Save</span>
        </button>
        <button type="button" ng-if="vm.isVue()" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span>Fermer</span>
        </button>
    </div>
</form>
