
<div>
    <h2><span>Bf Id Doc</span> {{vm.bfIdDoc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Numero</span></dt>
        <dd>
            <span>{{vm.bfIdDoc.numero}}</span>
        </dd>
        <dt><span>Autorite</span></dt>
        <dd>
            <span>{{vm.bfIdDoc.autorite}}</span>
        </dd>
        <dt><span>Doc Id</span></dt>
        <dd>
            <span>{{vm.bfIdDoc.docId}}</span>
        </dd>
        <dt><span>Date Delivr</span></dt>
        <dd>
            <span>{{vm.bfIdDoc.dateDelivr | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date Expr</span></dt>
        <dd>
            <span>{{vm.bfIdDoc.dateExpr | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <span>{{vm.bfIdDoc.ville}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="bf-id-doc-detail.edit({id:vm.bfIdDoc.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
