<div class="container-fluid col-sm-10 col-sm-offset-1">
    <div class="row mb5">
        <div class="no-padding-left">
            <!-- <button class="btn btn-primary btn-outline"  title="Ajouter" ng-click="vm.addItem()">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs-down">
                    Nouveau
                </span>
            </button> -->
            <div class="btn-group mr15" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                    </li>
                </ul>
            </div>
            <!--<div class="btn-group col-sm-3 mr15 pull-right" uib-dropdown>-->
                <!--<select class="form-control" id="field_organisation" ng-change="vm.initInfo()" name="organisation" ng-model="vm.organisationId"-->
                        <!--ng-options="organisation.id as organisation.nom for organisation in vm.organisations" ng-disabled="vm.isViewing">-->
                    <!--<option value="">-->
                        <!--<i>Toutes les organisations</i>-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        </div>

        <div class="text-center">
            <span class="h4">
                <u>Liste des profils</u>
            </span>
        </div>
    </div>

    <div class="row">
        <div>
            <table class="table-responsive table table-hover">
                <thead>
                <tr class="mf-table-header">
                    <th ng-click="vm.sortBy('nom') " class="col-lg-3">
                        <span>Nom</span>
                        <span ng-if="vm.isCurrentColumn('code')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.sortBy('description') " class="col-lg-5">
                        <span>Description</span>
                        <span ng-if="vm.isCurrentColumn('code')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    <th class="col-lg-1">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="profil in vm.datas track by profil.id">
                    <td title="{{profil.nom}}">{{profil.nom | characters:30}}</td>
                    <td title="{{profil.description}}">{{profil.description | characters:45}}</td>
                    <td class="col-lg-1">
                        <div class="btn-group flex-btn-group-container mt5">
                            <button type="submit" title="Modifier"  ng-click="vm.editItem($event,profil)" class="btn btn-success btn-xs btn-round">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <!-- <button type="submit" title="Supprimer"  ng-click="vm.deleteItem($event,profil)" class="btn btn-danger btn-xs btn-round">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="center-block text-center" ng-show="vm.canShowPagination()">
            <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage">
            </uib-pagination>
        </div>
    </div>
</div>
