
<div>
    <h2><span>Profil</span> {{vm.profil.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.profil.nom}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.profil.description}}</span>
        </dd>
        <dt><span>Authority</span></dt>
        <dd>
            <span ng-repeat="authority in vm.profil.authorities">
                <a ui-sref="authority-detail({id: authority.id})">{{authority.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.profil.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="profil-detail.edit({id:vm.profil.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
