<div class="col-sm-11 col-sm-offset-1 ">
    <div class="row">
        <div class="col-sm-6">
            <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
                <legend>Adresse</legend>
                <div class="row col-sm-6">

                <div class="form-group">
                    <label class="control-label col-sm-3 ft16" for="field_nom" mf-required  >Rue</label>
                    <div class="col-sm-6">
                        <input required  type="text" placeholder="ex: 100, Red Fox Avenue" class="form-control" name="nom" id="field_nom" ng-model="vm.members.adresseDTO.rue"/>
                    </div>

                </div>
                </br>
                <div class="form-group">
                    <label class="control-label col-sm-3 ft16" for="field_zipCode">Zip Code</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="zip code" name="zipCode" id="field_zipCode" ng-model="vm.members.adresseDTO.zipCode" />
                    </div>
                </div>
            </br>
        </div>
            <div class="row col-sm-6">

                <div class="form-group has-feedback" >

                    <label mf-required class="control-label col-sm-3 ft16 " for="etat">Etat</label>

                    <div class="col-sm-6">
                        <select disabled placeholder="Etat" required class="form-control" id="field_etat" name="etat" ng-model="vm.members.adresseDTO.etatId" ng-options="etat.id as etat.libelle for etat in vm.etats"            >
                            <option value=""></option>
                        </select>

                    </div>

                    <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
                        j-select-2-dialog
                        j-multiple="false"
                        j-model="vm.members.adresseDTO.etatId"
                        j-list="vm.etats"
                        j-states="true"
                        j-columns='vm.etatColumns'
                        j-event-name="onLoadEtats"
                    >Choisir...</i>
                 
                </div>

                </br>

                <div class="form-group has-feedback"  >
                    <label mf-required class="control-label col-sm-3 ft16" for="ville">Ville</label>

                    <div class="col-sm-6">
                        <select disabled placeholder="Ville" required class="form-control" id="field_ville" name="ville" ng-model="vm.members.adresseDTO.cityId" ng-options="ville.id as ville.libelle for ville in vm.villeAdresse"            >
                            <option value=""></option>
                        </select>

                    </div>

                    <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
                        j-select-2-dialog
                        j-multiple="false"
                        j-model="vm.members.adresseDTO.cityId"
                        j-states="false"
                        j-list="vm.villeAdresse"
                        j-columns='vm.statesVilleColumns'
                        j-event-name="onLoadStatesVille"
                    >Choisir...</i>
                
                </div>


            </div>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
                <legend>Autres contacts</legend>
                <div class="row col-sm-12" >

                </div>


                <div class="row col-sm-6">
                    
                       <div class="form-group">
                        <label class="control-label col-sm-4 ft16" for="field_telephone" mf-required>Telephone</label>
                        <div class="col-sm-6">
                            <input required type="text" placeholder="numéro de telephone" class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.adresseDTO.telephone" />
                        </div>
                    </div>



                    </br>
                    <div class="form-group">
                        <label class="control-label col-sm-4 ft16" for="field_telephone">Mail</label>
                        <div class="col-sm-6">
                            <input type="email" placeholder="adresse mail" class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.adresseDTO.mail" />
                        </div>
                    </div>
                </br>

                </div>

            </fieldset>
        </div>
    </div>


<fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
  <legend>Informations sur l'arrivée</legend>


  <div class="row col-sm-6">

    <div class="form-group has-feedback" >
        <label mf-required class="control-label col-sm-3 ft16"   for="field_dateDebut" >Date d'arrivée</label>
            <div class=" col-sm-6">
                <input show-button-bar="false" placeholder="date d'arrivée aux usa" id="field_Arrivee" type="text" class="form-control" name="dateArrrive" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.members.dateArrivee" is-open="vm.datePickerOpenStatus.dateArrivee"
                required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateArrivee')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>



    <div class="form-group has-feedback" >
      </div>

  </br>

  <div class="form-group has-feedback"  >

    <label mf-required class="control-label col-sm-3 ft16" for="etat">Etat d'arrivée</label>

    <div class="col-sm-6">
        <select disabled required placeholder="etat d'arrivée" class="form-control" id="field_etat" name="etat" ng-model="vm.members.statesId" ng-options="etat.id as etat.libelle for etat in vm.etats"            >
            <option value=""></option>
        </select>

    </div>

    <i  title="Sélectionnez l'etat" class="btn btn-primary btn-xs"
        j-select-2-dialog
        j-multiple="false"
        j-states="true"
        j-model="vm.members.statesId"
        j-list="vm.etats"
        j-columns='vm.etatColumns'
        j-event-name="onLoadEtats"
    >Choisir...</i>
</div>

</br>


  <div class="form-group has-feedback" >
    <label mf-required class="control-label col-sm-3 ft16" for="field_marque_vehicule">Ville d'arrivée</label>

      <div class="col-sm-6">
        <input disabled type="text" placeholder="lieu d'arrivée aux usa" class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.villeArrivee" required  />
    </div>

    <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
        j-select-2-dialog
        j-multiple="false"
        j-states="false"
        j-model="vm.members.villeArriveeId"
        j-list="vm.countriesVilleUSA"
        j-columns='vm.villeColumns'
    >Choisir...</i>
</div>


</div>

</fieldset>
    </div>
