

  <fieldset class="mf-fieldset p10">
    <legend>Contacts</legend>
    <div class="row " >
        <div class="col-sm-6">

           <div class="form-group">
               <label class="control-label col-sm-3 ft16" for="field_nom"  >Adresse</label>
          <div class="col-sm-6">
              <input disabled  type="text"  class="form-control" name="nom" id="field_nom" ng-model="vm.members.adresseDTO.rue"/>
          </div>
         </div>

    <div class="form-group"  >
      <label class="control-label col-sm-3 ft16" for="etat">Etat</label>
      <div class="col-sm-6">
        <input disabled  type="text"  class="form-control" name="nom" id="field_etat" ng-model="vm.members.adresseDTO.etat"/>
      </div>
  </div>

  <div class="form-group has-feedback"  >
    <label class="control-label col-sm-3 ft16" for="ville">Ville</label>

    <div class="col-sm-6">
      <input disabled  type="text"  class="form-control" name="nom" id="field_etat" ng-model="vm.members.adresseDTO.ville"/>

    </div>
</div>
</div>


<div class="col-sm-6">

    <div class="row col-sm-6">

          <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_telephone">Telephone</label>
            <div class="col-sm-6">
                <input disabled required type="text"  class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.adresseDTO.telephone" />
            </div>
        </div>

    <div class="form-group">
      <label class="control-label col-sm-3 ft16" for="field_telephone">Zip Code</label>
      <div class="col-sm-6">
          <input disabled type="text" class="form-control"  name="telephone" id="field_telephone" ng-model="vm.members.adresseDTO.zipCode" />
      </div>
  </div>

<div class="form-group">
  <label class="control-label col-sm-3 ft16" for="field_telephone">Mail</label>
  <div class="col-sm-6">
      <input disabled type="email"  class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.adresseDTO.mail" />
  </div>
</div>
</div>
</div>

</fieldset>

<br/>

<fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
  <legend>Arrivée</legend>


  <div class="row col-sm-6">
    <div class="form-group has-feedback" >
      <label  class="control-label col-sm-3 ft16"   for="field_dateDebut" >Date d'arrivée</label>
          <div class=" col-sm-6">
              <input disabled show-button-bar="false"  id="field_Arrivee" type="text" class="form-control" name="dateArrrive" ng-model="vm.members.dateArrivee"/>
          </div>
      </div>

  <div class="form-group has-feedback"  >

    <label  class="control-label col-sm-3 ft16" for="etat">Etat</label>

    <div class="col-sm-6">
      <input disabled type="text" class="form-control" name="telephone" id="field_etat" ng-model="vm.members.etatArrivee" required  />
  </div>
</div>

  <div class="form-group has-feedback" >
    <label class="control-label col-sm-3 ft16" for="field_marque_vehicule">Lieu d'arrivée</label>

      <div class="col-sm-6">
        <input disabled type="text" class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.villeArrivee" required  />
    </div>
</div>
</div>
</fieldset>
