
<fieldset ng-disabled="vm.isViewing"  class="mf-fieldset p10">
     <legend>Faites vous partie d'une ou plusieurs associations ?</legend>

     <div class="form-group" >
      <label  class="control-label col-sm-4"  for="field_role">Selectionner les associations</label>
     <div class="col-sm-6">
          <select class="form-control" style="height:200px" multiple name="authority" id="field_role" ng-model="vm.members.associations.nom"
          ng-options="association.nom for association in vm.members.associations">
      </select>
     </div>
     <i  title="Sélectionnez les associations" class="btn btn-primary btn-xs"
     j-select-dialog
     j-multiple="true"
     j-model="vm.associationId"
     j-list="vm.assocs"
     j-columns='vm.colums'
     j-event-name="onLoadRoles"
  >Choisir...</i>
  </div>

  <fieldset ng-hide="vm.isViewing" class="mf-fieldset p10"  ng-if="vm.members.associations.length>0">
     <legend>Choisissez les postes occupés dans ces association</legend>
 
     <div ng-repeat="assoc in vm.members.associations track by assoc.id">
 
         <div class="form-group has-feedback" >
 
     <label mf-required class="control-label col-sm-4 ft16 " for="etat">{{assoc.nom}}</label>
 
     <div class="col-sm-6">
         <select disabled placeholder="Etat" required class="form-control" id="field_etat" name="etat" ng-model="assoc.posteId" ng-options="poste.id as poste.libelle for poste in vm.postes"            >
             <option value=""></option>
         </select>
 
     </div>
 
     <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
         j-select-dialog
         j-multiple="false"
         j-model="assoc.posteId"
         j-list="vm.postes"
         j-columns='vm.posteColumns'
     >Choisir...</i>
  
 </div>
<div class="form-group has-feedback" >
    <label class="control-label col-sm-4 ft16"   for="field_dateDebut" mf-required>Date prise fonction</label>
        <div class=" col-sm-3">
            <input show-button-bar="false" placeholder="ex: 12/04/2020" id="assoc.nom" type="text" class="form-control" name="assoc.nom"  ng-model="assoc.dateFonction" 
            required />
           <!--  <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar(assoc.nom)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span> -->
        </div>
    </div>
 </div>
   </fieldset>




</fieldset>
