
<fieldset  class="mf-fieldset p10">
     <legend>Associations dont il est membre</legend>
     <ol class="list-group">
        <li ng-repeat="ass in vm.members.associations track by ass.id" class="list-group-item">
            Association {{ass.nom}}
        </li>
    </ol>
</fieldset>
