<fieldset class="mf-fieldset p10">
    <legend>Document d'identification Burkinabè</legend>
    <div class="row col-sm-12">

    </div>

    <div class="row col-sm-6">


        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_docId">Type de document</label>
            <div class="col-sm-6">
                <input disabled class="form-control" name="docId" id="field_docId"
                    ng-model="vm.members.bfIdDoc.docId" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_numero">Numero Id</label>
            <div class="col-sm-6">
                <input disabled type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.members.bfIdDoc.numero" />
            </div>

        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="ville">Lieu</label>

            <div class="col-sm-6">
                <input disabled required class="form-control" id="field_ville" name="ville"
                    ng-model="vm.members.bfIdDoc.ville" />
            </div>
        </div>
    </div>

    <div class="row col-sm-6">

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="field_dateDelivr" mf-required>Date de delivrance</label>
            <div class=" col-sm-6">
                <input disabled show-button-bar="false" id="field_dateDelivr" type="text" class="form-control"
                    name="dateDelivr" ng-model="vm.members.bfIdDoc.dateDelivr" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="field_dateExpr">Date d'expiration</label>
            <div class=" col-sm-6">
                <input disabled show-button-bar="false" id="field_dateExpr" type="text" class="form-control"
                    name="dateExpr" ng-model="vm.members.bfIdDoc.dateExpr" />
            </div>
        </div>
    </div>
</fieldset>

<fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>Document légal USA</legend>
    <div class="row col-sm-12">

    </div>

    <div class="row col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_autorite">Type de Document</label>
            <div class="col-sm-6">
                <input disabled type="text" class="form-control" name="autorite" id="field_autorite"
                    ng-model="vm.members.country.autorite" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_numero">Numero Id</label>
            <div class="col-sm-6">
                <input disabled type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.members.country.numero" />
            </div>
        </div>

        <div class="form-group has-feedback">

            <label class="control-label col-sm-3 ft16" for="etat">Etat de delivrance</label>

            <div class="col-sm-6">
                <input disabled class="form-control" id="field_etat" name="etat" ng-model="vm.members.etatResidence" />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="ville">Ville de delivrance</label>

            <div class="col-sm-6">
                <input disabled class="form-control" id="field_ville" name="ville"
                    ng-model="vm.members.villeResidence" />

            </div>

        </div>

    </div>

    <div class="row col-sm-6">

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="field_dateDelivr2">Date de delivrance</label>
            <div class=" col-sm-6">
                <input disabled show-button-bar="false" id="field_dateDelivr2" type="text" class="form-control"
                    name="dateDelivr2" ng-model="vm.members.country.dateDelivr" />

            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="field_dateExpr2">Date d'expiration</label>
            <div class=" col-sm-6">
                <input show-button-bar="false" id="field_dateExpr2" type="text" class="form-control" name="dateExpr2"
                    ng-model="vm.members.country.dateExpr" disabled />

            </div>
        </div>
    </div>
</fieldset>
