
<fieldset ng-disabled="vm.isViewing"  class="mf-fieldset p10">
    <legend>BF ID DOC</legend>
      <div class="row col-sm-12" >
  
      </div>
  
      <div class="row col-sm-6">

        
      <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_docId" mf-required>Type de document</label>
        <div class="col-sm-6">
            <select required class="form-control" name="docId" ng-model="vm.members.bfIdDoc.docId" id="field_docId" >
                <option value="CNIB">CNIB</option>
                <option value="PASSPORT">PASSPORT</option>
            </select>
        </div>
    </div>

</br>
  
        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_numero" mf-required >Numero Id</label>
            <div class="col-sm-6">
                <input required type="text" class="form-control" name="numero" id="field_numero" ng-model="vm.members.bfIdDoc.numero"/>
            </div>
  
        </div>
  
    </br>
    <div class="form-group has-feedback" >
        <label mf-required class="control-label col-sm-3 ft16" for="ville">Lieu d'établissement</label>

        <div class="col-sm-6">
            <select disabled placeholder="Lieu d'etablissement" required class="form-control" id="field_ville" name="ville" ng-model="vm.members.bfIdDoc.cityId" ng-options="ville.id as ville.libelle for ville in vm.villes"            >
                <option value=""></option>
            </select>

        </div>

        <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
            j-select-dialog
            j-multiple="false"
            j-model="vm.members.bfIdDoc.cityId"
            j-list="vm.countriesVille"
            j-columns='vm.villeColumns'
            j-event-name="onLoadVilles"
        >Choisir...</i>
    </div>
  
     
  
    </div>
  
      <div class="row col-sm-6">
  
          <div class="form-group has-feedback" >
            <label class="control-label col-sm-3 ft16"   for="field_dateDelivr" mf-required>Date de delivrance</label>
                <div class=" col-sm-6">
                    <input show-button-bar="false" id="field_dateDelivr" type="text" class="form-control" name="dateDelivr" ng-model="vm.members.bfIdDoc.dateDelivr" 
                    required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateDelivr')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </br>

            <div class="form-group has-feedback" >
                <label class="control-label col-sm-3 ft16"   for="field_dateExpr" mf-required>Date d'expiration</label>
                    <div class=" col-sm-6">
                        <input show-button-bar="false" id="field_dateExpr" type="text" class="form-control" name="dateExpr"  ng-model="vm.members.bfIdDoc.dateExpr" 
                        required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateExpr')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
  
  
         
      </div>
      
  </fieldset>
  
  <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>Pays ID DOC</legend>
    <div class="row col-sm-12" >

    </div>

    <div class="row col-sm-6">

      
        <div class="form-group has-feedback"  >
            <label mf-required class="control-label col-sm-3 ft16" for="document">Type de Document</label>

            <div class="col-sm-6">
                <select placeholder="document" required class="form-control" id="field_ville" name="ville" ng-model="vm.members.country.autorite" ng-options="doc.libelle for doc in vm.documents"            >
                    <option value=""></option>
                </select>

            </div>

        </div>

    </br>

      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_numero" mf-required >Numero Id</label>
          <div class="col-sm-6">
              <input required type="text" class="form-control" name="numero" id="field_numero" ng-model="vm.members.country.numero"/>
          </div>

      </div>

    </br>

    <!-- <div class=" has-feedback">
    <legend>Selectionner un Etat ?</legend>
  
      <div class=" col-sm-6 form-group">
          <label class="control-label h5 col-sm-8 text-center">
              <i><strong> OUI</strong></i></label>
          <label class="switch switch-sm">
              <input type="radio" name="etat" ng-click="vm.etat(true)" />
              <span><i class="handle"></i></span>
          </label>
      </div>
      <div class=" col-sm-6 form-group">
          <label class="control-label h5 col-sm-8 text-center">
              <i><strong> NON</strong></i></label>
          <label class="switch switch-sm">
              <input type="radio" name="etat" ng-click="vm.etat(false)" />
              <span><i class="handle"></i></span>
          </label>
      </div>
  </div> -->

</br>
</br>
</br>

<div class="form-group has-feedback"  >

    <label mf-required class="control-label col-sm-3 ft16" for="etat">Etat de delivrance</label>

    <div class="col-sm-6">
        <select disabled placeholder="Etat de délivrance" required class="form-control" id="field_etat" name="etat" ng-model="vm.members.country.statesId" ng-options="etat.id as etat.libelle for etat in vm.etats"            >
            <option value=""></option>
        </select>

    </div>

    <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
        j-select-dialog
        j-multiple="false"
        j-model="vm.members.country.statesId"
        j-list="vm.etats"
        j-columns='vm.etatColumns'
        j-event-name="onLoadEtats"
    >Choisir...</i>
</div>

</br>

<div class="form-group has-feedback"  >
  <label mf-required class="control-label col-sm-3 ft16" for="ville">Ville de delivrance</label>

  <div class="col-sm-6">
      <select disabled required placeholder="Ville de délivrance" class="form-control" id="field_ville" name="ville" ng-model="vm.members.country.cityId" ng-options="ville.id as ville.libelle for ville in vm.statesVille"            >
          <option value=""></option>
      </select>

  </div>

  <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
      j-select-dialog
      j-multiple="false"
      j-model="vm.members.country.cityId"
      j-list="vm.statesVille"
      j-columns='vm.statesVilleColumns'
      j-event-name="onLoadStatesVille"
  >Choisir...</i>
</div>



   

  </div>

    <div class="row col-sm-6">

        <div class="form-group has-feedback" >
          <label class="control-label col-sm-3 ft16"   for="field_dateDelivr2" mf-required>Date de delivrance</label>
              <div class=" col-sm-6">
                  <input show-button-bar="false" id="field_dateDelivr2" type="text" class="form-control" name="dateDelivr2" ng-model="vm.members.country.dateDelivr" 
                  required />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateDelivr2')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
          </div>

          <div class="form-group has-feedback" >
              <label class="control-label col-sm-3 ft16"   for="field_dateExpr2" mf-required>Date d'expiration</label>
                  <div class=" col-sm-6">
                      <input show-button-bar="false" id="field_dateExpr2" type="text" class="form-control" name="dateExpr2"  ng-model="vm.members.country.dateExpr" disabled
                      required />
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateExpr2')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
              </div>


       
    </div>



</fieldset>
