<div class="col-sm-10 col-sm-offset-1 well">


    <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
      <legend>Document d'identification Burkinabè</legend>
      <div class="row col-sm-12" >

      </div>

      <div class="row col-sm-6">


      <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_docId" mf-required>Type de pièce d'identité</label>
        <div class="col-sm-6">
            <select placeholder="type de document" required class="form-control" name="docId" ng-model="vm.members.bfIdDoc.docId" id="field_docId" >
                <option value="CNIB">CNIB</option>
                <option value="PASSPORT">PASSPORT</option>
            </select>
        </div>
    </div>

</br>

        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_numero" mf-required >Numéro de la pièce d'identité</label>
            <div class="col-sm-6">
                <input required type="text" placeholder="numero de la CNIB ou PASSPORT" class="form-control" name="numero" id="field_numero" ng-model="vm.members.bfIdDoc.numero"/>
            </div>

        </div>

    </br>
      <div class="form-group has-feedback" >
        <label mf-required class="control-label col-sm-3 ft16" for="ville">Lieu d'établissement</label>

        <div class="col-sm-6">
            <select disabled placeholder="Lieu d'etablissement" required class="form-control" id="field_ville" name="ville" ng-model="vm.members.bfIdDoc.cityId" ng-options="ville.id as ville.libelle for ville in vm.countriesVille"            >
                <option value=""></option>
            </select>

        </div>

        <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
            j-select-2-dialog
            j-multiple="false"
            j-states="false"
            j-model="vm.members.bfIdDoc.cityId"
            j-list="vm.countriesVille"
            j-columns='vm.villeColumns'
            j-event-name="onLoadVilles"
        >Choisir...</i>
    </div>



    </div>

      <div class="row col-sm-6">

          <div class="form-group has-feedback" >
            <label class="control-label col-sm-3 ft16"   for="field_dateDelivr" mf-required>Date de delivrance</label>
                <div class=" col-sm-6">
                    <input show-button-bar="false" placeholder="date de delivrance" id="field_dateDelivr" type="text" class="form-control" name="dateDelivr" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.members.bfIdDoc.dateDelivr" is-open="vm.datePickerOpenStatus.dateDelivr"
                    required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateDelivr')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </br>

            <div class="form-group has-feedback" >
                <label class="control-label col-sm-3 ft16"   for="field_dateExpr" mf-required>Date d'expiration</label>
                    <div class=" col-sm-6">
                        <input show-button-bar="false" placeholder="date d'expiration" id="field_dateExpr" type="text" class="form-control" name="dateExpr" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.members.bfIdDoc.dateExpr" is-open="vm.datePickerOpenStatus.dateExpr"
                        required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateExpr')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>



      </div>

  </fieldset>

  <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>Document d'identification USA</legend>
    <div class="row col-sm-12" >

    </div>

    <div class="row col-sm-6">


        <div class="form-group has-feedback"  >
            <label mf-required class="control-label col-sm-3 ft16" for="document">Type de Document</label>

            <div class="col-sm-6">
                <select placeholder="document" required class="form-control" id="field_ville" name="ville" ng-model="vm.members.country.autorite" ng-options="doc.libelle as doc.libelle for doc in vm.documents"            >
                    <option value=""></option>
                </select>

            </div>

        </div>

    </br>

      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_numero" mf-required >Numéro du document</label>
          <div class="col-sm-6">
              <input required type="text" placeholder="numero d'identification du document" class="form-control" name="numero" id="field_numero" ng-model="vm.members.country.numero"/>
          </div>

      </div>

    </br>



</br>
</br>
</br>

    <div class="form-group has-feedback"  >

      <label mf-required class="control-label col-sm-3 ft16" for="etat">Etat de delivrance</label>

      <div class="col-sm-6">
          <select disabled placeholder="Etat de délivrance" required class="form-control" id="field_etat" name="etat" ng-model="vm.members.country.statesId" ng-options="etat.id as etat.libelle for etat in vm.etats"            >
              <option value=""></option>
          </select>

      </div>

      <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
          j-select-2-dialog
          j-multiple="false"
          j-states="true"
          j-model="vm.members.country.statesId"
          j-list="vm.etats"
          j-columns='vm.etatColumns'
          j-event-name="onLoadEtats"
      >Choisir...</i>
  </div>

</br>

  <div class="form-group has-feedback"  >
    <label mf-required class="control-label col-sm-3 ft16" for="ville">Ville de delivrance</label>

    <div class="col-sm-6">
        <select disabled required placeholder="Ville de délivrance" class="form-control" id="field_ville" name="ville" ng-model="vm.members.country.cityId" ng-options="ville.id as ville.libelle for ville in vm.statesVille"            >
            <option value=""></option>
        </select>

    </div>

    <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
        j-select-2-dialog
        j-multiple="false"
        j-states="false"
        j-model="vm.members.country.cityId"
        j-list="vm.statesVille"
        j-columns='vm.statesVilleColumns'
        j-event-name="onLoadStatesVille"
    >Choisir...</i>
</div>


  </div>

    <div class="row col-sm-6">

        <div class="form-group has-feedback" >
          <label class="control-label col-sm-3 ft16"   for="field_dateDelivr2" mf-required>Date de delivrance</label>
              <div class=" col-sm-6">
                  <input show-button-bar="false" id="field_dateDelivr2" placeholder="date de delivrance" type="text" class="form-control" name="dateDelivr2" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.members.country.dateDelivr" is-open="vm.datePickerOpenStatus.dateDelivr2"
                  required />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateDelivr2')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
          </div>

          <div class="form-group has-feedback" >
              <label class="control-label col-sm-3 ft16"   for="field_dateExpr2" mf-required>Date d'expiration</label>
                  <div class=" col-sm-6">
                      <input show-button-bar="false" placeholder="date d'expiration" id="field_dateExpr2" type="text" class="form-control" name="dateExpr2" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.members.country.dateExpr" is-open="vm.datePickerOpenStatus.dateExpr2"
                      required />
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateExpr2')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
              </div>



    </div>

</fieldset>



  </div>
