<fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>Postes occupés dans des associations</legend>

    <ol class="list-group">
        <li ng-repeat="poste in vm.infoPostes track by poste.id" class="list-group-item">
            <div ng-if="poste.dateFin">
                Association {{poste.associationNom}} : {{poste.posteLibelle}} du
                {{poste.dateDebut}} au {{poste.dateFin}}
            </div>

            <div ng-if="!poste.dateFin">
                Association {{poste.associationNom}} : {{poste.posteLibelle}} du
                {{poste.dateDebut}} à maintenant
            </div>
        </li>
    </ol>
</fieldset>
