

  <fieldset ng-disabled="vm.isViewing" class="mf-fieldset p10">
    <legend>Identité de la personne</legend>
    <div class="row col-sm-12" >

    </div>

    <div class="row col-sm-6">

      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_nom" mf-required >Nom</label>
          <div class="col-sm-6">
              <input required type="text" placeholder="nom de la personne" class="form-control" name="nom" id="field_nom" ng-model="vm.members.nom"/>
          </div>

      </div>
    </br>
      <div class="form-group">
          <label class="control-label col-sm-3 ft16" for="field_prenom" mf-required>Prenom</label>
          <div class="col-sm-6">
              <input required type="text" placeholder="prenom de la personne" class="form-control" name="prenom" id="field_prenom" ng-model="vm.members.prenom"/>

          </div>
      </div>

    </br>
      <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_taille" mf-required>Taille</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="taille en cm" class="form-control" name="taille" id="field_prenom" ng-model="vm.members.taille"/>

        </div>
    </div>

    </br>

    <div class="form-group">
      <label class="control-label col-sm-3 ft16" for="field_libelle" mf-required>Sexe</label>
      <div class="col-sm-6">
          <select required placeholder="sexe" class="form-control" name="libelle" ng-model="vm.members.sexe" id="field_libelle" >
              <option value="MALE">HOMME</option>
              <option value="FEMALE">FEMME</option>
          </select>
      </div>
  </div>


</br>



  <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.members" ngf-pattern="'image/*'">
    <label class="control-label col-sm-3 ft16" for="field_photo">Photo</label>
    <div class="col-sm-6">
        <div>
            <img data-ng-src="{{'data:' + vm.members.photoContentType + ';base64,' + vm.members.photo}}"
                style="max-height: 100px;" ng-if="vm.members.photo" alt="members image" />
            <div ng-if="vm.members.photo" class="help-block clearfix">
                <span class="pull-left">{{vm.members.photoContentType}},
                    {{vm.byteSize(vm.members.photo)}}</span>

            </div>
            <button type="button" ngf-select class="btn btn-default btn-block"
                ngf-change="vm.setPhoto($file, vm.members)" accept="image/*">
                Add image
            </button>
        </div>
        <input type="hidden" class="form-control" name="photo" id="field_photo"
            ng-model="vm.members.photo" />
        <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
            ng-model="vm.members.photoContentType" />
    </div>
</div>










  </div>

    <div class="row col-sm-6">

          <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_telephone" mf-required>Metier</label>
            <div class="col-sm-6">
                <input type="text" placeholder="metier" required class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.metier" />
            </div>
        </div>

    </br>

    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_telephone" mf-required>Poste</label>
        <div class="col-sm-6">
            <input type="text" placeholder="poste occupé" required class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.occupation" />
        </div>
    </div>

</br>

        <div class="form-group has-feedback" >
          <label class="control-label col-sm-3 ft16"   for="field_dateDebut" mf-required>Date de Naissance</label>
              <div class=" col-sm-6">
                  <input show-button-bar="false" placeholder="date de naissance"
                     id="field_dateNaissance" type="text" class="form-control"
                     name="dateNaissance"  ng-model="vm.members.dateNaissance"
                     required />
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateNaissance')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
          </div>


          <div class="form-group has-feedback" >
            <label mf-required class="control-label col-sm-3 ft16" for="field_marque_vehicule">Lieu de Naissance</label>

              <div class="col-sm-6">
                <input disabled required type="text" placeholder="lieu de naissance" class="form-control" name="telephone" id="field_telephone" ng-model="vm.members.lieuNaissance"  />
            </div>

            <i  title="Sélectionnez la marque" class="btn btn-primary btn-xs"
                j-select-dialog
                j-multiple="false"
                j-model="vm.members.lieuNaissanceId"
                j-list="vm.pays"
                j-columns='vm.paysColumns'
                j-event-name="onLoadPays"
            >Choisir...</i>
        </div>
    </br>
    <div class="signate" >
        <signature-pad accept="accept" clear="clear" height="100" width="200" dataurl="vm.members.signature"></signature-pad>

        <div class="buttons">
            <button ng-click="clear()">Clear</button>
          </div>
      </div>
    </div>

</fieldset>

<fieldset ng-hide="vm.isViewing" class="mf-fieldset p10">
  <legend>Informations sur le conjoint</legend>


<div class="row col-sm-6" >
    <div class="form-group">

        <label class="control-label h5 col-sm-8 text-center">
            <i><strong> Etes vous mariés(e) ?     </strong></i></label>
        <label class="switch switch-sm">
            <input type="checkbox" ng-model="vm.members.mariage" ng-click="vm.mariage()" />
            <span><i class="handle"></i></span>
        </label>
    </div>

</br>
</br>

  <div class="form-group" ng-if="vm.members.mariage">
    <label class="control-label col-sm-3 ft16" for="field_nom" mf-required >Nom Conjoint(e)</label>
    <div class="col-sm-5">
        <input required type="text" placeholder="nom du conjoint" class="form-control" name="nom" id="field_nom" ng-model="vm.members.nomConjoint"/>
    </div>

</div>
</br>
<div class="form-group" ng-if="vm.members.mariage">
    <label class="control-label col-sm-3 ft16" for="field_prenom" mf-required>Prenom Conjoint(e)</label>
    <div class="col-sm-5">
        <input required type="text" class="form-control" placeholder="prenom du conjoint" name="prenom" id="field_prenom" ng-model="vm.members.prenomConjoint"/>

    </div>


</div>
</br>
</br>


<div>
    <div class="form-group" ng-if='vm.members.mariage'>
        <label class="control-label h5 col-sm-8 text-center">
            <i><strong>L'époux(se) habite t'il (elle) aux USA</strong></i></label>
        <label class="switch switch-sm">
            <input type="checkbox" ng-model="vm.members.memePaysConjoint" ng-click="vm.ville()" />
            <span><i class="handle"></i></span>
        </label>
    </div>
</div>


</br>
</br>
<div class="form-group"  ng-if='vm.members.memePaysConjoint && vm.members.mariage'>
  <label class="control-label col-sm-3 ft16" for="field_nom">No identification conjoint(te)</label>
  <div class="col-sm-5">
      <input type="text" placeholder=" no d'identification des usa" class="form-control" name="nom" id="field_nom" ng-model="vm.members.noConjoint"/>
  </div>
</div>

</div>

</fieldset>


<fieldset ng-hide="vm.isViewing" class="mf-fieldset p10">
    <legend>Informations sur les parents ?</legend>

</br>
</br>
</br>

<div class="row col-sm-6" >

    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_nom" mf-required >Nom du père</label>
        <div class="col-sm-6">
            <input required type="text" class="form-control" placeholder="nom du père" name="nom" id="field_nom" ng-model="vm.members.infoParents.nomPere"/>
        </div>

    </div>
  </br>
    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_prenom" mf-required>Prenom du père</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="nom de la mère" class="form-control" name="prenom" id="field_prenom" ng-model="vm.members.infoParents.prenomPere"/>

        </div>
    </div>

</br>
</br>


<div class="form-group">
    <label class="control-label h5 col-sm-8 text-center">
        <i><strong>Habite t'il aux USA ?</strong></i></label>
    <label class="switch switch-sm">
        <input type="checkbox" ng-model="vm.members.parentsUsa" ng-click="vm.pereUsa()" />
        <span><i class="handle"></i></span>
    </label>
</div>

</br>
</br>
</br>
    <div class="form-group" ng-if="vm.members.parentsUsa">
        <label class="control-label col-sm-3 ft16" for="field_idPere">NO Id Père</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder=" no d'identification des usa" name="idPere" id="field_idPere" ng-model="vm.members.infoParents.noPere"/>

        </div>
    </div>

</div>


<div class="row col-sm-6" >

    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_nom" mf-required >Nom de la mère</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="nom de la mère" class="form-control" name="nom" id="field_nom" ng-model="vm.members.infoParents.nomMere"/>
        </div>

    </div>
  </br>
    <div class="form-group">
        <label class="control-label col-sm-3 ft16" for="field_prenom" mf-required>Prenom de la mère</label>
        <div class="col-sm-6">
            <input required type="text" placeholder="prénom de la mère" class="form-control" name="prenom" id="field_prenom" ng-model="vm.members.infoParents.prenomMere"/>

        </div>
    </div>
</br>
</br>

<div class="form-group">
    <label class="control-label h5 col-sm-8 text-center">
        <i><strong>Habite t'elle aux USA ?</strong></i></label>
    <label class="switch switch-sm">
        <input type="checkbox" ng-model="vm.members.mumInUsa"  />
        <span><i class="handle"></i></span>
    </label>
</div>

</br>
</br>
</br>

    <div class="form-group" ng-if="vm.members.mumInUsa">
        <label class="control-label col-sm-3 ft16" for="field_noIdMere" >No Id Mère</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="no d'identification des usa" name="noIdMere" id="field_noIdMere" ng-model="vm.members.infoParents.noMere"/>
        </div>

    </div>

</div>



  </fieldset>


