<fieldset class="mf-fieldset p10">
    <legend>Identification</legend>


    <div class="row">

        <div class="col-sm-1">
                <img data-ng-src="{{'data:' + vm.members.photoContentType + ';base64,' + vm.members.photo}}"
                    style="max-height: 100px;" ng-if="vm.members.photo" alt="Sa photo" />

                <img data-ng-src="{{'data:' + vm.members.signatureContentType + ';base64,' + vm.members.signature}}"
                    style="max-height: 100px;" ng-if="vm.members.signature" alt="Signature du ressortissant" />
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_nom">Nom</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="nom" id="field_nom"
                        ng-model="vm.members.nom" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_prenom">Prenom</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="prenom" id="field_prenom"
                        ng-model="vm.members.prenom" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_taille">Taille</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="taille" id="field_prenom"
                        ng-model="vm.members.taille" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_libelle">Sexe</label>
                <div class="col-sm-6">
                    <select disabled class="form-control" name="libelle" ng-model="vm.members.sexe" id="field_libelle">
                        <option value="MALE">HOMME</option>
                        <option value="FEMALE">FEMME</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_telephone">Metier</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="telephone" id="field_telephone"
                        ng-model="vm.members.metier" />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_telephone">Poste</label>
                <div class="col-sm-6">
                    <input disabled type="text" required class="form-control" name="telephone" id="field_telephone"
                        ng-model="vm.members.occupation" />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-sm-3 ft16" for="field_dateDebut">Date de Naissance</label>
                <div class=" col-sm-6">
                    <input disabled show-button-bar="false" id="field_dateNaissance" type="text" class="form-control"
                        name="dateNaissance" ng-model="vm.members.dateNaissance" />
                </div>
            </div>


            <div class="form-group has-feedback">
                <label class="control-label col-sm-3 ft16" for="field_marque_vehicule">Lieu de Naissance</label>

                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="telephone" id="field_telephone"
                        ng-model="vm.members.lieuNaissance" />
                    <input disabled type="text"  class="form-control" name="telephone"
                        id="field_telephone" ng-model="vm.members.lieuNaissance" />
                </div>
            </div>
    </div>
</fieldset>

<br />

<fieldset ng-hide="vm.isViewing" class="mf-fieldset p10">
    <legend>Situation matrimoniale</legend>
    <div ng-if="vm.members.mariage">

        <label class="h5 text-left">
            <i><strong>Marié(e)</strong></i></label>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="control-label col-sm-3 ft16" for="field_nom">Nom Conjoint(e)</label>
                    <div class="col-sm-6">
                        <input disabled type="text" class="form-control" name="nom" id="field_nom"
                            ng-model="vm.members.nomConjoint" />
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label col-sm-3 ft16" for="field_prenom">Prenom Conjoint(e)</label>
                    <div class="col-sm-6">
                        <input disabled required type="text" class="form-control" name="prenom" id="field_prenom"
                            ng-model="vm.members.prenomConjoint" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6" ng-if='vm.members.memePaysConjoint'>
                <div class="form-group">
                    <label class="control-label h5 col-sm-8 text-center">
                        <i><strong>Habite aux USA.</strong></i></label>
                </div>
                </br>
                <div class="form-group">
                    <label class="control-label col-sm-6 ft16" for="field_nom">No identification conjoint(te)</label>
                    <div class="col-sm-6">
                        <input disabled type="text" class="form-control" name="nom" id="field_nom"
                            ng-model="vm.members.noConjoint" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6" ng-if='!vm.members.memePaysConjoint'>
                <label class="h5 text-left">
                    <i><strong>N'habite pas aux USA</strong></i></label>
            </div>

        </div>
    </div>
    <div ng-if="!vm.members.mariage">
        <label class="h5 text-left">
            <i><strong>Célibataire</strong></i></label>
    </div>
</fieldset>

<br />

<fieldset ng-hide="vm.isViewing" class="mf-fieldset p10">
    <legend>Parents</legend>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_nom">Nom du père</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="nom" id="field_nom"
                        ng-model="vm.members.infoParents.nomPere" />
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_prenom">Prenom du père</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="prenom" id="field_prenom"
                        ng-model="vm.members.infoParents.prenomPere" />

                </div>
            </div>

            <div ng-if="vm.members.parentsUsa">

                <div class="form-group">
                    <label class="control-label h5 col-sm-8 text-center">
                        <i><strong>Il habite aux USA.</strong></i></label>
                </div>
                </br>
                <div class="form-group">
                    <label class="control-label col-sm-3 ft16" for="field_idPere">No ID du Père</label>
                    <div class="col-sm-6">
                        <input disabled required type="text" class="form-control" name="idPere" id="field_idPere"
                            ng-model="vm.members.infoParents.noPere" />

                    </div>
                </div>
            </div>
            <div ng-if="!vm.members.parentsUsa" class="form-group">
                <label class="control-label h5 col-sm-8 text-center">
                    <i><strong>Il n'habite pas aux USA.</strong></i></label>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_nom">Nom de la mère</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="nom" id="field_nom"
                        ng-model="vm.members.infoParents.nomMere" />
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-3 ft16" for="field_prenom">Prenom de la mère</label>
                <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="prenom" id="field_prenom"
                        ng-model="vm.members.infoParents.prenomMere" />

                </div>
            </div>

            <div class="form-group" ng-if="vm.members.mumInUsa">
                <div class="form-group">
                    <label class="control-label h5 col-sm-8 text-center">
                        <i><strong>Elle habite aux USA </strong></i></label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 ft16" for="field_noIdMere">No ID de la Mère</label>
                    <div class="col-sm-6">
                        <input disabled required type="text" class="form-control" name="noIdMere" id="field_noIdMere"
                            ng-model="vm.members.infoParents.noMere" />
                    </div>

                </div>

            </div>
            <div ng-if="!vm.members.mumInUsa" class="form-group">
                <label class="control-label h5 col-sm-8 text-center">
                    <i><strong>Elle n'habite pas aux USA.</strong></i></label>
            </div>
</fieldset>
