<form name="editForm" role="form" novalidate  class="form-horizontal">
    <div class="row mt10"  style="margin-top:10px; margin-bottom:5px;">
        <div class="box-tab justified" id="rootwizard">
            <ul class="nav nav-tabs">
                <li ng-repeat="step in vm.steps" ng-class="{active: $index==vm.getCurrentStepIndex()}">
                    <a href="javascript:void(0)" ng-click="vm.goToStep($index,editForm)">{{step}}</a>
                </li>
            </ul>
            <div>

                <div class="tab-pane" ng-if="vm.showOnglet('IDENTIFICATION')">
                    <div  ng-include="'app/entities/members/identification.html'" scope="" onload="">
                    </div>
                </div>


                <div class="tab-pane" ng-if="vm.showOnglet('CONTACTS ET ARRIVEES')">
                    <div ng-include="'app/entities/members/adresse.html'" scope="" onload="">
                    </div>
                </div>

                  <div class="tab-pane" ng-if="vm.showOnglet('DOC IDENTIFICATION')">
                    <div ng-include="'app/entities/members/doc-identification.html'" scope="" onload="">
                    </div>
                </div>

                <div class="tab-pane" ng-if="vm.showOnglet('ASSOCIATION')">
                    <div ng-include="'app/entities/members/association.html'" scope="" onload="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-10">
        <button type="button" ng-click="vm.decrementStep()" ng-show="vm.hasPreviousStep()"  type="button" class="btn btn-warning btn-sm" data-dismiss="modal">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>Precedent</span>
        </button>
        <button type="button"  ng-show="vm.hasNextStep()" ng-click=" vm.incrementStep()" ng-disabled="editForm.$invalid || vm.isSaving"   class="btn btn-primary" ng-click="vm.next()">
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
            <span>Suivant</span>
        </button>
        <button type="button" ng-show="!vm.hasNextStep()" ng-disabled="editForm.$invalid || vm.isSaving"  ng-click="vm.saveMembre()" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>

</form>
