<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1 mb5 ">

        <div class="row" ng-if="vm.filtrer">

            <div class="form-group col-sm-2">
                <input type="text" placeholder="Nom" required class="form-control" id="field_nom"
                    ng-model="vm.itemSearch.nom" name="nom" />
                <input type="text" placeholder="Prenom" required class="form-control" id="field_prenom"
                    ng-model="vm.itemSearch.prenom" name="prenom" />
            </div>

            <div class="form-group col-sm-2">
                <input type="text" placeholder="ville de résidence" required class="form-control"
                    id="field_villeResidence" ng-model="vm.itemSearch.villeResidence" name="villeResidence" />
                <input type="text" placeholder="Etat de residence" required class="form-control"
                    id="field_etatResidence" ng-model="vm.itemSearch.etatResidence" name="etatResidence" />
            </div>

            <div class="form-group col-sm-2">

                <input type="text" placeholder="Numero Bf" required class="form-control" id="field_numeroBf"
                    ng-model="vm.itemSearch.numeroBf" name="numeroBf" />
                <input type="text" placeholder="Numero Country" required class="form-control" id="field_numeroCountry"
                    ng-model="vm.itemSearch.numeroCountry" name="numeroCountry" />

            </div>

            <div class="form-group col-sm-2">
                <input type="text" placeholder="Metier" required class="form-control" id="field_metier"
                    ng-model="vm.itemSearch.metier" name="metier" />
                <input type="text" placeholder="Poste" required class="form-control" id="field_poste"
                    ng-model="vm.itemSearch.occupation" name="poste" />
            </div>

            <div class="form-group col-sm-2">

                <select required class="form-control" name="mariage" ng-model="vm.itemSearch.mariage"
                    id="field_mariage">
                    <option value="">Marié(e)?</option>
                    <option value="TRUE">OUI</option>
                    <option value="FALSE">NON</option>
                </select>
                <select required class="form-control" name="sexe" ng-model="vm.itemSearch.sexe" id="field_sexe">
                    <option value="">Sexe</option>
                    <option value="MALE">HOMME</option>
                    <option value="FEMALE">FEMME</option>
                </select> </div>

            <div class="form-group col-sm-2">

                <select required class="form-control" name="sexe" ng-model="vm.itemSearch.parentsUsa" id="field_usa">
                    <option value="">Parents aux USA</option>
                    <option value="TRUE">OUI</option>
                    <option value="FALSE">NON</option>
                </select>
                <select required class="form-control" name="sexe" ng-model="vm.itemSearch.autorite" id="field_usa">
                    <option value="">Type de Document</option>
                    <option value="PASSPORT">PASSPORT</option>
                    <option value="GREEN CARD">GREEN CARD</option>
                    <option value="VISA ETUDIANT">VISA ETUDIANT</option>
                    <option value="VISA">VISA</option>

                </select>

            </div>

            <div class="form-group col-sm-2">
                <input show-button-bar="false" id="field_dateArrivee" placeholder="La date d'arrivée" type="text"
                    class="form-control" name="dateArrivee" uib-datepicker-popup="dd-MMMM-yyyy"
                    ng-model="vm.itemSearch.dateArrivee" is-open="vm.datePickerOpenStatus.dateArrivee" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateArrivee')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>

            </div>

            <div class="form-group col-sm-4">
                <div class="col-sm-4">
                    <button class="btn btn-warnig btn-md" ng-click="vm.initFiltre()">
                        <span class="glyphicon glyphicon-search">Annuler</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-info btn-md " ng-disabled="vm.dateFinEstAvantDateDebut()"
                        ng-click="vm.init()">
                        <span class="glyphicon glyphicon-search">Filtrer</span>
                    </button>
                </div>
            </div>


        </div>
        <div class="mb5"></div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 mb5">
        <div class="no-padding-left">
            <div class="form-group " ng-if="!vm.filtrer">
                <div class="pull-right">
                    <button class="btn btn-info btn-md" ng-click="vm.filtrer=true">
                        <span class="glyphicon glyphicon-search">Filtrer</span>
                    </button>
                </div>
            </div>
            <div class="btn-group mr15" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                    </li>
                </ul>
            </div>

            <div class="text-center">
                <h3><span>
                   Nombre d'inscrits: {{vm.totalItems}}
                </span></h3>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="grid-container">

                <div ng-repeat="member in vm.datas track by member.id">

                    <div class="card mb-3" style="width: 250px;">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img ng-if="member.photo"
                                    data-ng-src="{{'data:' + member.photoContentType + ';base64,' + member.photo}}"
                                    style="max-height: 100px;" alt="member image" />

                                <svg ng-if="!member.photo" class="bd-placeholder-img" width="100" height="100"
                                    xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image"
                                    preserveAspectRatio="xMidYMid slice" role="img">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%"
                                        fill="#dee2e6" dy=".3em">Image</text>
                                </svg>

                            </div>


                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{member.nom }} {{member.prenom | characters:30}}</h5>
                                    <p class="card-text">{{member.villeResidence | characters:30}}, {{member.etatResidence}}</p>
                                    <p class="card-text">
                                        <div class="btn-group flex-btn-group-container mt5">
                                            <button type="submit" title="Consulter"
                                           ng-click="vm.detailItem($event,member)"
                                           class="btn btn-primary btn-xs btn-round">
                                           <span class="glyphicon glyphicon-eye-open"></span>
                                           </button>
                                           <button type="submit" title="modifier"
                                           ng-click="vm.editItem($event,member)"
                                           class="btn btn-sucess btn-xs btn-round">
                                           <span class="glyphicon glyphicon-pencil"></span>
                                           </button>
                                           <button type="submit" title="Imprimer la carte consulaire"
                                           ng-click="vm.etatCarte(member.id)"
                                           class="btn btn-success btn-xs btn-round">
                                           <span class="glyphicon glyphicon-book"></span>
                                           </button>
                                       </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-block text-center" ng-show="vm.canShowPagination()">
            <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage">
            </uib-pagination>
        </div>
    </div>
</div>

<footer class="navbar-fixed-bottom text-center">
</footer>
