
<form name="editForm" role="form" novalidate class="container-fluid form-horizontal"  >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuitanceLabel" ></h4>
    </div>
    <div class="modal-body">
            <div ng-include="'app/entities/members/identification-consultation.html'"></div>
            <br/>
            <div ng-include="'app/entities/members/adresse-consultation.html'"> </div>
            <br/>
            <div ng-include="'app/entities/members/doc-identification-consultation.html'"></div>
            <br/>
            <div ng-include="'app/entities/members/association-consultation.html'"></div>
            <br/>
            <div ng-include="'app/entities/members/historiques-consultation.html'"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span ng-hide="vm.isViewing" data-translate="entity.action.cancel">Fermer</span>
            <span ng-show="vm.isViewing">Fermer</span>
        </button>

        <button type="button"  class="btn btn-success" data-dismiss="modal" ng-click="vm.etatCarte()">
            <span class="glyphicon glyphicon-print"></span>&nbsp;
            <span >Imprimer carte</span>
        </button>
    </div>
</form>

