
<form name="editForm" role="form" novalidate class="container-fluid form-horizontal"  >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuitanceLabel" >informations du membre</h4>
    </div>
    <div class="modal-body">
<!--        <fieldset ng-hide="vm.isViewing" class="mf-fieldset p10">-->
<!--            <legend>Choix du type de la demande</legend>-->
<!--            <div>-->
<!--                <label>-->
<!--                    Nouvelle demande <input type="radio" name="Passport" ng-click="vm.choisir('demande')" />-->
<!--                    Renouvellement <input type="radio" name="Passport" ng-click="vm.choisir('renouvellement')" />-->
<!--                </label>-->
<!--            </div>-->
<!--        </fieldset>-->

        <div class="box-tab justified" id="rootwizard">
            <ul class="nav nav-tabs">
                <li ng-repeat="step in vm.steps" ng-class="{active: $index==vm.getCurrentStepIndex()}">
                    <a href="javascript:void(0)" ng-click="vm.goToStep($index,editForm)">{{step}}</a>
                </li>
            </ul>
                <!-- Démandeur de la carte grise-->
                <div class="tab-pane" ng-if="vm.showOnglet('IDENTIFICATION',0)">
                    <div ng-include="'app/entities/members/identification-modification.html'" scope="" onload="">
                    </div>
                </div>

                <!--Informations de la carte grise-->
                <div class="tab-pane" ng-if="vm.showOnglet('ADRESSE',1)">
                    <div ng-include="'app/entities/members/adresse-modification.html'" scope="" onload="">
                    </div>
                </div>

                <!--Informations de la quitance-->
                <div class="tab-pane" ng-if="vm.showOnglet('DOC IDENTIFICATION',2)">
                    <div ng-include="'app/entities/members/doc-identification-modification.html'" scope="" onload="">
                    </div>
                </div>

                <!--Informations de la quitance-->
                <div class="tab-pane" ng-if="vm.showOnglet('ASSOCIATION',3)">
                    <div ng-include="'app/entities/members/association-modification.html'" scope="" onload="">
                    </div>
                </div>
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-10">
        <button type="button" ng-click="vm.decrementStep()" ng-show="vm.hasPreviousStep()"  type="button" class="btn btn-warning btn-sm" data-dismiss="modal">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>Precedent</span>
        </button>
        <button type="button"  ng-show="vm.hasNextStep()" ng-click=" vm.incrementStep()" ng-disabled="editForm.$invalid || vm.isSaving"   class="btn btn-primary" ng-click="vm.next()">
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
            <span>Suivant</span>
        </button>
        <button type="button" ng-show="!vm.hasNextStep()" ng-disabled="editForm.$invalid || vm.isSaving"  ng-click="vm.save()" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

