
<div>
    <h2><span>States</span> {{vm.states.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.states.code}}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
            <span>{{vm.states.libelle}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.states.countryId})">{{vm.states.countryLibelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="states-detail.edit({id:vm.states.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
