<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1 mb5">
        <div class="no-padding-left">
            <button class="btn btn-primary btn-outline" title="Ajouter" ng-click="vm.addItem()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs-down">
                Nouveau
            </span>
            </button>
            <div class="btn-group mr15" uib-dropdown >
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center">
            <span class="h4"><u>Liste des Etats</u></span>
        </div>
    </div>

    <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                    <table class="table-responsive table table-hover">
                        <thead>
                            <tr class="mf-table-header">
                        <th ng-click="vm.sortBy('code') "  class="col-lg-3">
                                <span>Code</span>
                                <span ng-if="vm.isCurrentColumn('code')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                        </th>
                        <th ng-click="vm.sortBy('libelle') "  class="col-lg-3" >
                                <span>Libelle</span>
                                <span ng-if="vm.isCurrentColumn('libelle')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                        </th>
                        <th ng-click="vm.sortBy('countryLibelle') "  class="col-lg-3" >
                            <span>Pays</span>
                            <span ng-if="vm.isCurrentColumn('countryLibelle')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    
                        <th class="text-right"> <span>Actions</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="states in vm.datas track by states.id">
                    <td title="{{states.code}}">{{states.code | characters:45}}</td>
                    <td title="{{states.intitule}}">{{states.libelle | characters:45}}</td>
                    <td title="{{states.countryLibelle}}">{{states.countryLibelle | characters:45}}</td>
                    <td class="text-right">
                            <div class="btn-group flex-btn-group-container mt5">
                                <button type="submit" title="Modifier"
                                ng-click="vm.editItem($event,states)"
                                class="btn btn-success btn-xs btn-round">
                                <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="submit" title="Supprimer"
                                ng-click="vm.deleteItem($event,states)"
                                class="btn btn-danger btn-xs btn-round">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="center-block text-center" ng-show="vm.canShowPagination()">
            <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage" >
            </uib-pagination>
        </div>
    </div>
</div>
