<head>



    <!-- Bootstrap core CSS -->
  
  
    <!-- Custom styles for this template -->
  
  </head>
  
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
</div>
<div class="text-center"><span class="text-danger m5" ng-show="vm.authenticationError" >
    <strong>Identifiants invalides</strong>
</span>
</div>
    
<form role="form" ng-submit="vm.login($event)" class="form form-layout">
   
    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
        <span class="label-input100" mf-required>Username</span>
        <input class="input100" type="text" name="username" placeholder="Enter username" ng-model="vm.username" required>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
        <span class="label-input100" mf-required>Password</span>
        <input class="input100" type="password" name="pass" placeholder="Enter password" ng-model="vm.password" required>
        <span class="focus-input100"></span>
    </div>

    <div class="flex-sb-m w-full p-b-30">
    </br>
        <div>
            <a href="#" class="txt1">
                Forgot Password?
            </a>
        </div>
    </div>
</br>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" > 
            Login
        </button>
    </div>
</form>
</div>
