<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1 mb5">
        <div class="no-padding-left">
            <div class="form-group " ng-if="!vm.filtrer">
                <div class="pull-right">
                    <button class="btn btn-info btn-md" ng-click="vm.filtrer=true">
                        <span class="glyphicon glyphicon-search">Filtrer</span>
                    </button>
                </div>
            </div>
            <button class="btn btn-primary btn-outline" title="Ajouter" ng-if="vm.user.id!=null" ng-click="vm.addItem()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs-down">
                Nouveau
            </span>
            </button>
            <div class="btn-group mr15" uib-dropdown >
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>{{vm.itemsPerPage}} éléments par page
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(15)">15 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(20)">20 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(30)">30 éléments par page</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="vm.setItemsPerPage(40)">40 éléments par page</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" ng-if="vm.filtrer">
        </br>
            <div class="form-group col-sm-3">
                <input show-button-bar="false" id="field_dateDebut" placeholder="La date de debut" type="text" class="form-control" name="dateDebut" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.itemSearch.dateDebut" is-open="vm.datePickerOpenStatus.dateDebut"
              required />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
            
            <div class="form-group col-sm-3">
                <input show-button-bar="false" id="field_dateDateFin" placeholder="La date de fin" type="text" class="form-control" name="dateDateFin" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="vm.itemSearch.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
              required />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-xs" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
    
        <div class="form-group col-sm-4">
            <div class="col-sm-4">
                <button  class="btn btn-warnig btn-md"  ng-click="vm.initFiltre()" >
                    <span class="glyphicon glyphicon-search">Annuler</span>
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info btn-md "   ng-click="vm.init()">
                    <span class="glyphicon glyphicon-search">Filtrer</span>
                </button>
            </div>
        </div>
    
    
        </div>

        <div class="text-center">
            <span class="h4"><u>Liste des Services</u></span>
        </div>
    </div>

    <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                    <table class="table-responsive table table-hover">
                        <thead>
                            <tr class="mf-table-header">
                        <th ng-click="vm.sortBy('numero') "  class="col-lg-3">
                                <span>Code</span>
                                <span ng-if="vm.isCurrentColumn('numero')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                        </th>
                        <th ng-click="vm.sortBy('date') "  class="col-lg-3">
                            <span>Date</span>
                            <span ng-if="vm.isCurrentColumn('date')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                        <th ng-click="vm.sortBy('type') "  class="col-lg-2">
                            <span>Type</span>
                            <span ng-if="vm.isCurrentColumn('type')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                        <th ng-click="vm.sortBy('libele') "  class="col-lg-2" >
                                <span>Libelle</span>
                                <span ng-if="vm.isCurrentColumn('libelle')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                        </th>
                        <th ng-click="vm.sortBy('consulat') "  class="col-lg-2" >
                            <span>Consulat</span>
                            <span ng-if="vm.isCurrentColumn('consulat')" ng-class="{'fa fa-sort-amount-asc':vm.reverse, 'fa fa-sort-amount-desc': !vm.reverse}"></span>
                    </th>
                    
                        <th class="text-right"> <span>Actions</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membreService in vm.datas track by membreService.id">
                    <td title="{{membreService.numero}}">{{membreService.numero | characters:45}}</td>
                    <td title="{{membreService.date}}">{{membreService.date | date:'medium'}}</td>
                    <td title="{{membreService.type}}">{{membreService.type | characters:45}}</td>
                    <td title="{{membreService.libelle}}">{{membreService.libelle | characters:45}}</td>
                    <td title="{{membreService.consulat}}">{{membreService.consulat | characters:45}}</td>
                    <td class="text-right">
                            <div class="btn-group flex-btn-group-container mt5">
                                <button type="submit" title="Modifier"
                                ng-click="vm.editItem($event,membreService)"
                                class="btn btn-success btn-xs btn-round">
                                <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="submit" title="Supprimer"
                                ng-click="vm.deleteItem($event,membreService)"
                                class="btn btn-danger btn-xs btn-round">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="center-block text-center" ng-show="vm.canShowPagination()">
            <uib-pagination total-items="vm.totalItems" ng-model="vm.page" items-per-page="vm.itemsPerPage" >
            </uib-pagination>
        </div>
    </div>
</div>
