
<form name="editForm" role="form" novalidate ng-submit="vm.save()" class="container-fluid form-horizontal" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" >Ajouter une information ou un évènement</h4>
    </div>
    <div class="modal-body">


        <div class="form-group has-feedback">
            <label class="control-label col-sm-3 ft16" for="field_libelle" mf-required>Type</label>
            <div class="col-sm-6">
                <select required placeholder="type" class="form-control" name="libelle" ng-model="vm.membreService.type" id="field_libelle" >
                    <option value="EVENEMENT">EVENEMENT</option>
                    <option value="INFORMATION">INFORMATION</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group has-feedback" ng-if='vm.user.profilId==2'>
                <label class="control-label h5 col-sm-8 text-center">
                    <i><strong>Choisir une association</strong></i></label>
                <label class="switch switch-sm">
                    <input type="checkbox" ng-model="vm.membreService.association" ng-click="vm.init()" />
                    <span><i class="handle"></i></span>
                </label>
            </div>
        </div>
        <div class="form-group has-feedback" ng-if="vm.user.profilId!=2 || vm.membreService.association ">
        </br>
            <label mf-required class="control-label col-sm-3 ft16" for="associations">Association</label>

            <div class="col-sm-6">
                <select placeholder="associations" required class="form-control" id="field_association" name="associations" ng-model="vm.membreService.consulat" ng-options="assoc.nom as assoc.nom for assoc in vm.associations"            >
                    <option value=""></option>
                </select>

            </div>

        </div>
        <div class="form-group has-feedback">
        </br>
            <label class="control-label col-sm-3 ft16" for="field_libelle">Titre</label>
            <div class="col-sm-6">
                <input required  type="text"  class="form-control" name="nom" id="field_nom" ng-model="vm.membreService.libelle"/>
            </div>

        </div>
    </br>
        <div class="form-group">
            <label class="control-label col-sm-3 ft16" for="field_description" mf-required>Description</label>
            <div class="col-sm-9">
                <textarea type="text" placeholder="description" class="form-control" name="description" id="field_description"
                ng-model="vm.membreService.description"
                ng-maxlength="6000"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
