<!-- sidebar panel -->
<div class="sidebar-panel" ng-show="vs.isAuthenticated()&&vs.passwordChanged" ng-cloak>

    <div class="brand">

        <!-- logo -->
        <div class="brand-logo h2 faa-parent animated-hover faa-pulse">
            <b>MENU</b>
        </div>
        <!-- /logo -->

        <!-- toggle small sidebar menu -->
        <a href="javascript:;" class="toggle-sidebar hamburger-icon v3 faa-parent animated-hover faa-ring" data-toggle="layout-small-menu">
            <span class="faa-horizontal"></span>
            <span class="faa-passing-reverse"></span>
            <span class="faa-passing"></span>
            <span class="faa-horizontal"></span>
        </a>
        <!-- /toggle small sidebar menu -->

    </div>

    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">

            

            <li has-any-authority="ROLE_ADMIN,ROLE_CONSULAT">
                    <a href="javascript:;"> <i class="fa fa-cog"></i> <span>Paramètres</span>
                    </a>
                    <ul class="sub-menu">
                       <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                            <a ui-sref="consulat"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Consulat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                            <a ui-sref="country"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Pays</span>
                            </a>
                        </li>
                         <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                            <a ui-sref="states"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Etat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN">
                            <a ui-sref="city"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Ville</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT">
                            <a ui-sref="poste"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Poste</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT">
                            <a ui-sref="type-association"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Type d'association</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT">
                            <a ui-sref="document-legal"
                               ng-click="vm.collapseNavbar()"> <span
                                class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Type de document</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_CONSULAT">
                            <a ui-sref="profil" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Profils</span>
                            </a>
                        </li>
                        
                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_CONSULAT">
                            <a ui-sref="user-extra" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span>Utilisateurs</span>
                            </a>
                        </li>
                    </ul>
                </li>
            <li has-any-authority="ROLE_CONSULAT" >
                   <a href="javascript:;" class=" faa-parent animated-hover">
                       <i class="fa fa-user-plus faa-falling"></i>
                       <span>Ressortissants</span>
                   </a>
                   <ul class="sub-menu">

                    <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT" >
                        <a ui-sref="members" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span>Ajouter un ressortissant</span>
                        </a>
                    </li>
                     
                       <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT">
                           <a ui-sref="members-stats" ng-click="vm.collapseNavbar()">
                               <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                               <span>Consulter</span>
                           </a>
                       </li>
                   </ul>
               </li>

               <li >
                <a href="javascript:;" class=" faa-parent animated-hover" has-any-authority="ROLE_CONSULAT">
                    <i class="fa fa-book faa-falling"></i>
                    <span>Historiques résidence</span>
                </a>
                <ul class="sub-menu">

                 <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT">
                     <a ui-sref="adresses" ng-click="vm.collapseNavbar()">
                         <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                         <span>Consulter</span>
                     </a>
                 </li>
                  
                </ul>
            </li>



               <li >
                <a href="javascript:;" class=" faa-parent animated-hover" has-any-authority="ROLE_CONSULAT">
                    <i class="fa fa-users faa-falling"></i>
                    <span>Association</span>
                </a>
                <ul class="sub-menu">

                 <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT">
                     <a ui-sref="association" ng-click="vm.collapseNavbar()">
                         <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                         <span>Maj/Consultation</span>
                     </a>
                 </li>
                  
                </ul>
            </li>
            <li has-any-authority="ROLE_CONSULAT,ROLE_ASSOCIATION" >
                <a href="javascript:;" class=" faa-parent animated-hover">
                    <i class="fa fa-newspaper-o" ></i>
                    <span>Infos et évènements</span>
                </a>
                <ul class="sub-menu">

                 <li ui-sref-active="active" has-any-authority="ROLE_CONSULAT,ROLE_ASSOCIATION">
                     <a ui-sref="membre-service" ng-click="vm.collapseNavbar()">
                         <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                         <span>Maj/Consultation</span>
                     </a>
                    </li>
                 <!--     <li ui-sref-active="active">
                     <a ui-sref="info-service" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                        <span>Consulter inscriptions</span>
                    </a>
                 </li> -->
                  
                </ul>
            </li>



         
        </ul>
    </nav>
    <!-- /main navigation -->

</div>
<!-- /sidebar panel -->
