
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInfoServiceLabel">Create or edit a Info Service</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.infoService.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.infoService.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateIntegration">Date Integration</label>
                <div class="input-group">
                    <input id="field_dateIntegration" type="text" class="form-control" name="dateIntegration" uib-datepicker-popup="{{dateformat}}" ng-model="vm.infoService.dateIntegration" is-open="vm.datePickerOpenStatus.dateIntegration"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateIntegration')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_membreService">Membre Service</label>
            <select class="form-control" id="field_membreService" name="membreService" ng-model="vm.infoService.membreServiceId" ng-options="membreService.id as membreService.id for membreService in vm.membreservices"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_members">Members</label>
            <select class="form-control" id="field_members" name="members" ng-model="vm.infoService.membersId" ng-options="members.id as members.nom for members in vm.members"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
