<div>
    <h2>Info Services</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="info-service.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Info Service
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateIntegration"><span>Date Integration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membreServiceId"><span>Membre Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membersNom"><span>Members</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="infoService in vm.infoServices track by infoService.id">
                    <td><a ui-sref="info-service-detail({id:infoService.id})">{{infoService.id}}</a></td>
                        <td>{{infoService.dateIntegration | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="membre-service-detail({id:infoService.membreServiceId})">{{infoService.membreServiceId}}</a>
                    </td>
                    <td>
                        <a ui-sref="members-detail({id:infoService.membersId})">{{infoService.membersNom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="info-service-detail({id:infoService.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="info-service.edit({id:infoService.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="info-service.delete({id:infoService.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
