
<div>
    <h2><span>Info Service</span> {{vm.infoService.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date Integration</span></dt>
        <dd>
            <span>{{vm.infoService.dateIntegration | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Membre Service</span></dt>
        <dd>
            <a ui-sref="membre-service-detail({id:vm.infoService.membreServiceId})">{{vm.infoService.membreServiceId}}</a>
        </dd>
        <dt><span>Members</span></dt>
        <dd>
            <a ui-sref="members-detail({id:vm.infoService.membersId})">{{vm.infoService.membersNom}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="info-service-detail.edit({id:vm.infoService.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
