
<div>
    <h2><span>Document Legal</span> {{vm.documentLegal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Numero</span></dt>
        <dd>
            <span>{{vm.documentLegal.numero}}</span>
        </dd>
        <dt><span>Date Expr</span></dt>
        <dd>
            <span>{{vm.documentLegal.dateExpr | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="document-legal-detail.edit({id:vm.documentLegal.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
