
<form name="editForm" role="form" novalidate ng-submit="vm.save()" class="container-fluid form-horizontal" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCityLabel">Ajouter un type document</h4>
    </div>
    <div class="modal-body">

        <div class="form-group has-feedback"  >
        
            <label mf-required class="control-label col-sm-3 ft16" for="pays">Pays</label>
           
            <div class="col-sm-6">
                <select disabled placeholder="pays" required class="form-control" id="field_etat" name="etat" ng-model="vm.documentLegal.countryId" ng-options="country.id as country.libele for country in vm.countries"            >
                    <option value=""></option>
                </select>
      
            </div>
        
            <i  title="Sélectionnez la ville" class="btn btn-primary btn-xs"
                j-select-dialog
                j-multiple="false"
                j-model="vm.documentLegal.countryId"
                j-list="vm.countries"
                j-columns='vm.countryColumns'
                j-event-name="onLoadCountriess"
            >Choisir...</i>
        </div>
        
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3" mf-required  for="field_numero">Libelle</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="libelle" id="field_numero"
                    ng-model="vm.documentLegal.libelle" ng-disabled="vm.isViewing"
                    required/>
            </div>
        </div>
        
   

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
