
<head>

  <script defer>
    window.VerifaliaWidgetConfig = {
      appKey: '048e195278a540bba8758accb811a8b7'
    };
  </script>
  <script defer
    src="https://unpkg.com/verifalia-widget@1.2.0/dist/verifalia-widget.js"
    integrity="sha512-KNWaWGZz1V4Hm+9e4pdMB0rJ/wOY3ifDIYdfnHyoRnAXtpTxvxU+beMZ6nO//qqPYWcm9uFlIA1eye6/BAnbjQ=="
    crossorigin="anonymous"></script>

</head>

<div ng-cloak>
  <div class="row shadow" style="height: 350px; background: aliceblue;" ng-if="!vm.isAuthenticated()">
        <div class="col-sm-7">

          <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img class="bd-placeholder-img" width="150" height="150" src="../../content/images/bf.jpg" alt="">
          
              </div>
              <div class="col-md-8">
                <div class="card-body">    
                  <h4 class="card-title">Embassade du Burkina Faso <br/> à Washingtion</h4>
                 <h4><p class="card-text">100 Massachusetts Av, 777665 Washington DC </p></h4>
                </div>
              </div>
            </div>
          </div>

            <br/><br/>
            <h3><span>Bienvenue au système de gestion des consulats</span></h3>
            <br/>
            <h3><span>Portail des services  consulaires de l'Ambasade du <br/> Burkina Faso aux Etats-Unis</h3>
        </div>

          <div class="col-sm-2">
            <!-- <div class="container-login100"> -->
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url(../../content/images/bg-01.jpg);">
                        <span class="login100-form-title-1">
                            Sign In
                        </span>
                    </div>

                    <form class="login100-form validate-form">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" name="username" placeholder="username" ng-model="vm.username">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="pass" placeholder="password" ng-model="vm.password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30">
                          <div class="flex-sb-m w-full p-b-30">
                            <div>
                                <a ui-sref="requestReset" class="txt1">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" ng-click="vm.login($event)">
                                Login
                            </button>
                        </div>
                        </div>
                    </form>
                </div>
            <!-- </div> -->
          </div>
      </div>
  </div>


        <!-- Content Row -->
        <div class="row shadow bg-white">
        <div class="col-sm-6" style="margin-top: 20px" >
          <div class="text-center" ng-if="!vm.isAuthenticated()">
            <h2 class="section-heading text-uppercase">INFORMATIONS</h2>
          </div>
          <div ng-repeat="info in vm.list track by info.id">
   
        <div class="container" ng-if="!vm.isAuthenticated()">
        </br>
      </br>
            <div class="mb-5" ng-if="info!=null">
              <div class="card h-100">
                <div class="card-body" >
                  <h4 class="text-danger">{{info.date | date:'mediumDate'}}-{{info.consulat}}</h4>
                  <h4 class="card-title">{{info.libelle}}</h4>
                  <p class="card-text">{{info.description}}</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
              </div>
            </div>
          </div>
    
          </div>
        </div>
      



            <div class="col-sm-6">

              <section class="page-section" id="about" ng-if="!vm.isAuthenticated()">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading text-uppercase "style="margin-top: 20px" >EVENEMENTS</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <ul class="timeline" ng-repeat="even in vm.listEven track by even.id">
                        <li ng-if="vm.listEven!=null" style="margin-top: -10px;">
                          <div class="timeline-image" style="width:100px;height:100px;" >
                            <img class="rounded-circle img-fluid" style="width:100px;height:100px;" src="../../img/about/3.jpg" alt="">
                          </div>
                          <div class="timeline-panel" >
                            <div class="timeline-heading">
                              <h4 class="text-danger">{{even.date | date:'mediumDate'}}-{{even.consulat}}</h4>
                              <h4 class="subheading">{{even.libelle}}</h4>
                            </div>
                            <div class="timeline-body">
                              <p class="text-muted">{{even.description}}</p>
                            </div>
                            <div>
                              <a href="#" class="btn btn-primary btn-sm">S'inscrire</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>


              </div>
            </div>



      
  
        <div class="col-md-7">

        </div>
    </div>
    <div  class="col-sm-10 col-sm-offset-1" ng-if="vm.isAuthenticated()">

        <div class="row mb25" >                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
            <div class="text-center">
                <h4 class="row-title before-blue"><strong><u>INFORMATIONS GENERALES( {{vm.adminNom}} ) </u> </strong></h4>
            </div>
           
            <div class="col-sm-6">
            </br>

                <div class="panel">
                    <div class="panel-heading border text-center" title="Le nombre de ressortissants par sexe">
                        <u><b>Le nombre de ressortissants par sexe</b></u>
                    </div>
                    <div class="panel-body">
                        <div class="canvas-holder">
                            <canvas id="MembreSexe-pie" class="chart chart-pie"
                                    chart-data="vm.membreSexe.data" chart-labels="vm.membreSexe.labels" chart-options="vm.membreSexe.options">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </br>
              <div class="panel">
                  <div class="panel-heading border text-center" title="Le nombre de ressortissants par sexe">
                      <u><b>Le nombre de ressortissants par Etat</b></u>
                  </div>
                  <div class="panel-body">
                      <div class="canvas-holder">
                          <canvas id="MembreEtat-bar" class="chart chart-bar"
                                  chart-data="vm.etatMembre.data" chart-labels="vm.etatMembre.labels" chart-options="vm.etatMembre.options">
                          </canvas>
                      </div>
                  </div>
              </div>
          </div>
      
        </div>
     

        <div class="row mb25" ng-if="vm.isAuthenticated()">
          <div class="col-md-6 ">
              <div class="panel">
                  <div class="panel-heading border text-center" title="membres par association">
                      <u> <b>Membres par association</b></u>
                  </div>
                  <div class="panel-body">
                      <div class="canvas-holder">
                      </br>
                    </br>
                          <canvas id="membre-par-assoc-pie" class="chart chart-doughnut"
                                  chart-data="vm.membreAssoc.data"
                                  chart-labels="vm.membreAssoc.labels"
                                  chart-options="vm.membreAssoc.options">
                          </canvas>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6">
         
          <div class="panel">
            <div class="panel-heading border text-center" title="Le nombre de ressortissants par date d'arrivee">
                <u><b>Le nombre de ressortissants par date d'arrivée</b></u>
            </div>
          
         
            <div class="panel-body">
                <div class="canvas-holder">
                  <div class="col-sm-3" >
            
                    <input show-button-bar="false" placeholder="Debut date Arrivée"
                           is-open="vm.datePickerOpenStatus.periodeDebut"
                           uib-datepicker-popup="dd MMMM yyyy" ng-focus="vm.openCalendar('periodeDebut')"
                           class="form-control" ng-model="vm.periodeDebut" name="periodeDebut"/>
                    <input show-button-bar="false" ng-disabled="vm.periodeDebut==null"
                           placeholder=" Fin date Arrivée" is-open="vm.datePickerOpenStatus.periodeFin"
                           uib-datepicker-popup="dd MMMM yyyy" ng-focus="vm.openCalendar('periodeFin')"
                           class="form-control" ng-model="vm.periodeFin" name="periodeFin"/>
                    <div ng-show="vm.dateFinEstAvantDateDebut() ">
                        <p class="alert alert-danger">
                            La date de fin doit être supérieure à la date de Debut.
                        </p>
                    </div>
            </div>
                    <canvas id="MembreArrivee-pie" class="chart chart-pie"
                            chart-data="vm.membreArrivee.data" chart-labels="vm.membreArrivee.labels" chart-options="vm.membreArrivee.options">
                    </canvas>
                </div>
            </div>
        </div> 
      </div> 

      </div>


      <div class="row mb25" ng-if="vm.isAuthenticated()">
     
        <div class="panel">
          <div class="panel-heading border text-center" title="Le nombre de ressortissants par trance d'age">
              <u><b>Le nombre de ressortissants par tranche d'age</b></u>
          </div>
       
          <div class="panel-body">
              <div class="canvas-holder">
                  <canvas id="MembreAge-pie" class="chart chart-bar"
                          chart-data="vm.trancheAge.data" chart-labels="vm.trancheAge.labels" chart-options="vm.trancheAge.options">
                  </canvas>
              </div>
          </div>
      </div> 

    </div>






    </div>


</div>


