
<div>
    <h2><span>Info Parents</span> {{vm.infoParents.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Numero</span></dt>
        <dd>
            <span>{{vm.infoParents.numero}}</span>
        </dd>
        <dt><span>Nom Pere</span></dt>
        <dd>
            <span>{{vm.infoParents.nomPere}}</span>
        </dd>
        <dt><span>Prenom Pere</span></dt>
        <dd>
            <span>{{vm.infoParents.prenomPere}}</span>
        </dd>
        <dt><span>Nom Mere</span></dt>
        <dd>
            <span>{{vm.infoParents.nomMere}}</span>
        </dd>
        <dt><span>Prenom Mere</span></dt>
        <dd>
            <span>{{vm.infoParents.prenomMere}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="info-parents-detail.edit({id:vm.infoParents.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
