
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInfoParentsLabel">Create or edit a Info Parents</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.infoParents.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.infoParents.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.infoParents.numero"
                    required/>
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nomPere">Nom Pere</label>
            <input type="text" class="form-control" name="nomPere" id="field_nomPere"
                    ng-model="vm.infoParents.nomPere"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_prenomPere">Prenom Pere</label>
            <input type="text" class="form-control" name="prenomPere" id="field_prenomPere"
                    ng-model="vm.infoParents.prenomPere"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nomMere">Nom Mere</label>
            <input type="text" class="form-control" name="nomMere" id="field_nomMere"
                    ng-model="vm.infoParents.nomMere"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_prenomMere">Prenom Mere</label>
            <input type="text" class="form-control" name="prenomMere" id="field_prenomMere"
                    ng-model="vm.infoParents.prenomMere"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
