<div>
    <h2>Info Parents</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="info-parents.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Info Parents
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span>Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomPere"><span>Nom Pere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenomPere"><span>Prenom Pere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomMere"><span>Nom Mere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenomMere"><span>Prenom Mere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="infoParents in vm.infoParents track by infoParents.id">
                    <td><a ui-sref="info-parents-detail({id:infoParents.id})">{{infoParents.id}}</a></td>
                    <td>{{infoParents.numero}}</td>
                    <td>{{infoParents.nomPere}}</td>
                    <td>{{infoParents.prenomPere}}</td>
                    <td>{{infoParents.nomMere}}</td>
                    <td>{{infoParents.prenomMere}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="info-parents-detail({id:infoParents.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="info-parents.edit({id:infoParents.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="info-parents.delete({id:infoParents.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
