﻿
.logo-img{
    height: 250px;
    display:inline-block;
    border-radius:2px;
}



.signate {
    border: 1px solid red;
    padding: 10px 10px 40px 10px;
    position: relative;
    margin: 0 auto 0 auto;
    height: 100%;
  }

  .signate .signature {
    border: 1px solid orange;
    margin: 0 auto;
    cursor: pointer;
  }

  .signate .signature canvas {
    border: 1px solid #999;
    margin: 0 auto;
    cursor: pointer;
  }

  .signate .buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .signate .sizes {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }










.en_tete{
  background: url(../images/usa.png);
  height:67px;
  width: 100%;
  background-repeat: no-repeat;
    /*border: 2px solid lavender;*/
    /*border-radius:2px;*/
}

.navbar-default{

    background-color:#4a5c77;
}

.navbar-default .navbar-nav > li > a {
    color: #f5f5f5;
}


.table-hover > tbody > tr:hover {
    background-color: rgba(119, 119, 119, 0.32);
    color:black;
}



.container {
    width: 100%;
}

.mf-table-header > th {
    background-color: #6f4797;
    color: white !important;
}
.mf-vertical-separator{
	border-color: rgb(226, 226, 239);
    border-right-width: 1px;
    border-right-style: solid;
}

.login.input-lg{
	height: 40px;
}
.modal-md .modal-header .close {
    margin-top: -16px;
    margin-right: -14px;
    color: rgb(210, 33, 23);
    font-size: 22px;
    font-weight: 900;
}

.modal-lg .modal-header .close{
    margin-top: -10px;
    margin-right: -20px;
    color: rgb(210, 33, 23);
    font-size: 22px;
    font-weight: 900;
}
.mf-primary-border{
	border: 1px solid #4492c7;
}
.form-control{
	border-color: #a0a0a0;
}
.mf-danger-border{
	border: 1px solid #ff0021;
}
.mf-fieldset {
    min-width: 0;
    margin: 0;
    border: 1px solid #4492c7;
}

.mf-fieldset-print {
    min-width: 0;
    margin: 0;
    border: 1px solid black;
}
.mf-taux-change-list .mf-devise-date{
		width: 20%;
}
.mf-taux-change-list .mf-devise-start,.mf-taux-change-list .mf-devise-end{
		width: 20%;
}
.list-group-item{
	    padding: 2px;
}
.form-group {
	line-height: 1.0;
    margin-bottom: 5px;
	font-size: 12px;
}
.btn{
    line-height: 15px;
}

.ft14{
    font-size: 14px;
}

.ft16{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control{
	height: 25px;
    padding: 5px;
    font-size:11.5px;
}

body{
	font-size:13px;
	/*line-height: */
}
legend{
	display: block;
    width: auto;
    padding: 0;
    margin-bottom: 5px;
    font-size: 13px;
    border: 0;
    border-bottom:none;
    font-weight: bold;
}

.table-fixed thead {
    width: 98%;
}
.table-fixed tbody {
    max-height: 400px;
    overflow:auto;
    width: 950px;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
}


/*fixed table header*/
.table-essai {
    width: 100%;
}

.table-essai thead, .table-essai tbody, .table-essai tr, .table-essai td, .table-essai th { display: block; }

.table-essai tr:after {
    content: ' ';
    display:block;
    visibility: hidden;
    clear: both;
}

.table-essai thead th {
    height: 30px;

    /*text-align: left;*/
}

.table-essai tbody {
    height: 150px;
    overflow-y: auto;
}


.table-essai tbody td, .table-essai thead th {
    display:block;
    float: left;
}














/* Css lie au journal*/
.mf-madiv
{
min-height:60px;
height: 400px;
min-width: 60px;
overflow:auto;
}

.mf-plaqueContainer
{
height: 170px;
overflow:auto;
}

.mf-plaqueContainer2
{
height: 120px;
overflow:auto;
}

.mf-j-fieldset
{
 border: solid 2px #0099cc;
text-align:left;
height: 80px;
}

.mf-j-m-fieldset
{
 border: solid 2px #0099cc;
text-align:left;
height: 80px;
margin-left:30px;
}


.mf-j-m-search
{
text-align:left;
height: 80px;

margin-left:150px;

}
.mf-j-table
{
    border-style:solid;
    border-radius:5px;
    border-color: #0099cc;
    border-right-style:#0099cc;
    border-collapse:unset;
    border-spacing: 0;
}
.mf-j-th
{
text-align:center;
}
.mf-j-container
{
height: 550px;
}

.modal-footer {
    padding: 5px;
}

.modal-body{
    padding-top: 0px;
}
.table-row-selected{
 	background-color:rgba(119, 119, 119, 0.84);
 	color:white;
}


.pagination{
	margin:0px;
}
/*Réduction de la hauteur des lignes des tableaux*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px 2px;
    border-width: 0.5px;
    border-color: #b3aeae;
}
.main-panel > .main-content {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 55px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Applique une hauteur maximum*/
.mxh350{
  max-height: 276px;
}
.mxh500{
	max-height: 500px;
}
.mnh285{
    min-height: 285px;
}
.mxh285{
    min-height: 285px;
}

.mxh100{
    max-height: 100px;
}

.h300{
    height: 300px;
}
.h400{
    height:400px;
}
.h217{
    height: 217px;
}
.h140{
    height: 140px;
}
.h140 select[multiple], select[size] {
    height: 140;
}
.opposition-fieldset{
    min-height: 278px;
}

/*Auto scroll*/
.as{
	overflow: auto;
    max-height: 75vh;
}

.fs_table150{
    overflow: auto;
    max-height: 150px;
}

.fs_table300{
    overflow: auto;
    max-height: 300px;
}
 /*Mise en forme des onglets des formulaires d'enregistrement*/
.box-tab.justified .nav-tabs li {
    display: table-cell;
    float: none;
    width: 1%;
    vertical-align: top;
    text-align: center;
    padding-bottom: 0px;
    background-color: #0099cc;
    border-right: 1px solid #ddd;
}
.form-control:focus {
    border-color: #78d7f7;
    /*box-shadow: inset 0px 0px 0px 1px #78d7f7;*/
}

.form-layout input:focus {
    border-color: #78d7f7;
    /*box-shadow: inset 0px 0px 0px 1px #78d7f7;*/
}


.box-tab .nav-tabs{
    margin-bottom:5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 5px;
    background-color: white;
    color: black !important;
}

    .sidebar-panel {
        z-index: 1000;
    }

.box-tab.justified .nav-tabs li a {
    color:white;
}
/*Personnalisation de la boite de dialogue*/
.modal {
    z-index: 2000;
    /*background: black;*/
    background: rgba(12, 2, 7, 0.22);
}

.modal-content{
	/*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #0099cc;
    border-width: medium;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}

.modal-header{
	    /*border-top-left-radius: 12px;
    border-top-right-radius: 12px;*/
        border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom:5px;
        /*background-color: #0099cc;*/
}
.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
/*Agrandissement de la largeur et la longueur de la boite de dialogue*/
.modal-lg{
    width: 80%;
    /*height: -moz-calc(60%);
    height: -webkit-calc(60%);*/
    height: 50vh;
    /*min-height: -moz-calc(25%);
    min-height: -webkit-calc(25%);*/
    min-height: 25vh;
}

/*Suppression de l'animation des boites de dialogues (entrée brusque et sortie brusque)*/
.modal .modal-dialog, .modal.in .modal-dialog {
    -webkit-animation-duration: 0ms;
    -moz-animation-duration: 0ms;
    -o-animation-duration: 0ms;
    animation-duration: 0ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.switch span i {
    position: sticky;
}
.switch span {
	margin-top: 8px;
    -webkit-box-shadow: #e4e4e4 0px 0px 0px 0px inset;
    -moz-box-shadow: #e4e4e4 0px 0px 0px 0px inset;
    box-shadow: #401010 0px 0px 0px 0px inset;
    -webkit-transition: border 300ms, box-shadow 300ms;
    -moz-transition: border 300ms, box-shadow 300ms;
    -o-transition: border 300ms, box-shadow 300ms;
    transition: border 300ms, box-shadow 300ms;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    box-sizing: content-box;
    border: 1px solid rgba(189, 173, 173, 0.75);
    background-color: #ccc;
    background-clip: content-box;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.table.table-condensed > thead > tr > th,
.table.table-condensed > tbody > tr > th,
.table.table-condensed > tfoot > tr > th,
.table.table-condensed > thead > tr > td,
.table.table-condensed > tbody > tr > td,
.table.table-condensed > tfoot > tr > td {
  padding: 3px;
}

.mf-select-table input[type="radio"], .mf-select-table input[type="checkbox"] {
    margin: -5px 0;
    margin-top: 1px \9;
    line-height: normal;
}
.mf-select-table-container{
    max-height: 80vh;
    overflow: auto;
}

.has-margin{
    margin-bottom: 400px;
}

/*Personnalisation du angular-ui-tree*/
.angular-ui-tree-handle {
    border-radius: 5px 10px 0 5px;
    padding: 5px 5px;
    cursor: pointer;
}
.tree-node {
    border:1px solid #ddd;
    border-radius: 5px 10px 0 5px;
}
.angular-ui-tree-handle:hover {
    color: black;
    background:white;
    border-color: #0099cc;
}

.brand-logo{
    color: #fff;
}

.home-logo-img{
  width: 250px;
}

/**
 *Ne pas afficher l'entête et le pied de page à l'impression des documents dans le navigateur google chrome.
 *Pour firefox il faut ajouter moznomarginboxes mozdisallowselectionprint à la balise html
 */
@media print {
  @page { margin: 0; }
  html {
    background-color: #FFFFFF;
    margin: 0px; /* this affects the margin on the HTML before sending to printer */
  }
  body {
      border: solid 1px blue;
      padding: 10mm 15mm 10mm 15mm; /* margin you want for the content */
  }
}

/*angular-loading-bar css customization*/
#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #ea4235;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #ea4235 1px 0 6px 1px;
  -ms-box-shadow: #ea4235 1px 0 6px 1px;
  -webkit-box-shadow: #ea4235 1px 0 6px 1px;
  box-shadow: #ea4235 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  border-top: 5px solid #fbbc05;
  border-right: 5px solid #34a853;
  border-bottom : 5px solid #ea4235;
  border-left  : 5px solid #4284f4;

  -webkit-animation: spin 400ms linear infinite;
  -moz-animation:    spin 400ms linear infinite;
  -ms-animation:     spin 400ms linear infinite;
  -o-animation:      spin 400ms linear infinite;
  animation:         spin 400ms linear infinite;
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}
@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}


.table-fixed thead {
    width: 98%;
}
.table-fixed tbody {
    max-height: 300px;
    overflow: auto;
    width: 550px;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
}

.table-fixed1 thead {
    width: 98%;
}
.table-fixed1 tbody {
    max-height: 300px;
    overflow: auto;
    width: 1050px;
}
.table-fixed1 thead, .table-fixed1 tbody, .table-fixed1 tr, .table-fixed1 td, .table-fixed1 th {
    display: block;
}
.table-fixed1 tbody td, .table-fixed1 thead > tr> th {
    float: left;
}


/* Afficahe card en grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
