
<div>
    <h2><span>City</span> {{vm.city.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.city.code}}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
            <span>{{vm.city.libelle}}</span>
        </dd>
        <dt><span>Countries</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.city.countriesId})">{{vm.city.countriesLibelle}}</a>
        </dd>
        <dt><span>States</span></dt>
        <dd>
            <a ui-sref="states-detail({id:vm.city.statesId})">{{vm.city.statesLibelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="city-detail.edit({id:vm.city.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
