
<div>
    <h2><span>Info Association</span> {{vm.infoAssociation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date Entree</span></dt>
        <dd>
            <span>{{vm.infoAssociation.dateEntree | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date Sortie</span></dt>
        <dd>
            <span>{{vm.infoAssociation.dateSortie | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="info-association-detail.edit({id:vm.infoAssociation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
