
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInfoAssociationLabel">Create or edit a Info Association</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.infoAssociation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.infoAssociation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateEntree">Date Entree</label>
                <div class="input-group">
                    <input id="field_dateEntree" type="text" class="form-control" name="dateEntree" uib-datepicker-popup="{{dateformat}}" ng-model="vm.infoAssociation.dateEntree" is-open="vm.datePickerOpenStatus.dateEntree"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEntree')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateSortie">Date Sortie</label>
                <div class="input-group">
                    <input id="field_dateSortie" type="text" class="form-control" name="dateSortie" uib-datepicker-popup="{{dateformat}}" ng-model="vm.infoAssociation.dateSortie" is-open="vm.datePickerOpenStatus.dateSortie"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateSortie')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
