<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mf-select-table-container"><table class="table-responsive table table-hover">
            <caption>
            <input type="text" placeholder="Rechercher..." class="form-control form-control-static" name="filter_field" ng-model="ctrl.query"/>
            </caption>
            <thead>
                <tr class="j-table-header">
                    <th style="width:7%;">
                        <span ng-if="ctrl.multiple">
                            <input ng-change="ctrl.toggleAll()" type="checkbox" class="form-control checkbox" ng-model="ctrl.allSelected" />
                        </span>
                    </th>
                    <th ng-repeat="(key, col) in ctrl.columns">
                        <span>{{col.title}} </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.datas|filter:ctrl.query|orderBy:ctrl.columns[0]" ng-click="ctrl.toggle(item)">
                    <td><input type="checkbox" class="form-control checkbox" ng-checked="ctrl.isChecked(item)"/></td>
                    <td ng-repeat="(key, col) in ctrl.columns">
                        <span>{{item[col.name]}} </span>
                    </td>
                </tr>
            </tbody>
        </table></div>
    </div>
    <button class="btn btn-primary btn-xs" ng-if="ctrl.states==true" title="Ajouter" ng-click="ctrl.addItem()" ng-hide="vm.isViewing">
        <span class="glyphicon glyphicon-plus">Ajouter...</span>
        <span class="hidden-xs-down">
    </span>
    </button>
    <button class="btn btn-primary btn-xs" ng-if="ctrl.states==false" title="Ajouter" ng-click="ctrl.addItemSecond()" ng-hide="vm.isViewing">
        <span class="glyphicon glyphicon-plus">Ajouter...</span>
        <span class="hidden-xs-down">
    </span>
    </button>
    <div ng-if="ctrl.states==null" class="row p10">
        <div class="btn-group btn-group-xs pull-right">
            <button ng-click="ctrl.cancel()" class="btn btn-danger">Annuler</button>
            <button ng-if="ctrl.datas.length!=0" ng-click="ctrl.confirm()" class="btn btn-success"><span class="fa fa-check"></span>&nbsp;Valider</button>
        </div>
    </div>
    <div class="row p10">
        <div ng-if="ctrl.states!=null" class="btn-group btn-group-xs pull-right">
            <button ng-click="ctrl.cancel2()" class="btn btn-danger">Annuler</button>
            <button ng-if="ctrl.datas.length!=0" ng-click="ctrl.confirm2()" class="btn btn-success"><span class="fa fa-check"></span>&nbsp;Valider</button>
        </div>
    </div>
</div>